%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'сведения об организации' => admin_institution_blocks_path}
      %h3.tx-center СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ
      .form__admin
        .admin_header.tx-center
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-8-9>
                %p Название
              .grid_i.grid_i__grid-1-9>
                %p.tx-right
                  действия
          .grid.grid__collapse
            = render collection: @institution_blocks, partial: 'institution_block'
      = will_paginate @institution_blocks, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
