%nav.mobile-user-nav#mobile-user-nav
  - if user_signed_in? && current_user.student?
    .mobile-user-nav__basket
      = link_to "#{current_user.created_subscriptions_count}", courses_shop_cart_path

  = render 'layouts/courses_shop/components/user_nav'

  .mobile-user-nav__close
    = link_to '#', id: 'mobile-user-nav-close' do
      %svg.icon(role='img' data-size='34')
        %use(xlink:href='/assets/courses_shop/icons.svg#close')