.history-cards
  .history-cards__list#history-cards-slider
    = render partial: 'courses_shop/about/history_event', collection: @history_events

  = link_to '#', class: 'history-cards__nav history-cards__nav--prev', id: 'history-cards-slider-prev' do
    %svg.icon(role='img' data-size='18')
      %use(xlink:href='/assets/courses_shop/icons.svg#arrow-left')
  = link_to '#', class: 'history-cards__nav history-cards__nav--next', id: 'history-cards-slider-next' do
    %svg.icon(role='img' data-size='18')
      %use(xlink:href='/assets/courses_shop/icons.svg#arrow-right')