@charset "UTF-8";

// Merriweather
@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: font_url('Merriweather/Merriweather-Regular.ttf');
}

@font-face {
    font-family: "Merriweather";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: font_url('Merriweather/Merriweather-Bold.ttf');
}

// Noto Sans
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: font_url('Noto_Sans/NotoSans-Regular.ttf');
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: font_url('Noto_Sans/NotoSans-Bold.ttf');
}