/ Google Tag Manager (noscript)
%noscript
  %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=#{gtm_id_for_shop}", :style => "display:none;visibility:hidden", :width => "0"}
/ End Google Tag Manager (noscript)
%script{:src => "https://profilepxl.ru/s.js?id=3b62e525-fb67-454f-9e0d-e36b3a28ba11", :type => "text/javascript"}
