%section.feedbacks
  .container
    .feedbacks__row
      .feedbacks__col
        .h2.feedbacks__title Отзывы наших выпускников

        %ul.feedbacks__list
          %li
            .feedback
              %iframe(width='560' height='315' src='https://www.youtube.com/embed/RY4-tnaUtYM' allowfullscreen)
          %li
            .feedback
              %iframe(width='560' height='315' src='https://www.youtube.com/embed/dfrZXIWekhs' allowfullscreen)