%section.reasons
  .container
    .reasons__row
      .reasons__col
        .h2.reasons__title Почему институт Дом Русской Косметики?

        %ul.reasons__list
          %li
            .reason
              = image_tag transparent_pixel, size: '72',
                                             alt: 'Причина 1',
                                             class: 'lazyload',
                                             data: { src: asset_url('courses_shop/new_base/reason_1.svg') }
              %p Мы&nbsp;работаем на&nbsp;рынке с&nbsp;1989 года и&nbsp;имеем солидную репутацию среди студентов, партнеров и&nbsp;работодателей.
          %li
            .reason
              = image_tag transparent_pixel, size: '72',
                                             alt: 'Причина 2',
                                             class: 'lazyload',
                                             data: { src: asset_url('courses_shop/new_base/reason_2.svg') }
              %p Выдаем документы государственного образца, а&nbsp;также диплом ITEC, действующий в&nbsp;44&nbsp;странах мира.
          %li
            .reason
              = image_tag transparent_pixel, size: '71',
                                             alt: 'Причина 3',
                                             class: 'lazyload',
                                             data: { src: asset_url('courses_shop/new_base/reason_3.svg') }
              %p Мы&nbsp;даем очень много практики: от&nbsp;195 до&nbsp;445&nbsp;часов. Вдвое больше, чем в&nbsp;обычных учебных заведениях.
