.popup_ctn
  .popup#training_suspended
    .tx-center.mb-3
      .h5 ВНИМАНИЕ
    .grid
      .grid_i.grid_i__grid-2-2>
        = training_suspended_text(subscription)

    .icon_del.arcticmodal-close X