-# TODO(ar): раскомментировать, когда попросит Андрей
-#%p.mt-1.tx-xxs.tx-700
-#  - if group_subscription.end_on >= Date.current
-#    = link_to 'Посмотреть рейтинг', rating_course_path(course), class: 'a_under'
-#  - else
-#    Ваше место: #{group_subscription.rating_place} (#{group_subscription.rating_score}&nbsp;баллов)