%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день,
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} С&nbsp;30&nbsp;марта в&nbsp;Москве введен карантин, в&nbsp;связи с&nbsp;этим с&nbsp;30&nbsp;марта по&nbsp;1&nbsp;мая очные занятия в&nbsp;институте временно не&nbsp;проводятся.
    %br
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} Все очные занятия, которые должны были пройти в&nbsp;этот период, мы&nbsp;обязательно возместим студентам&nbsp;&mdash; они будут организованы в&nbsp;мае либо июне.
    %br
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} А&nbsp;пока, чтобы провести время с&nbsp;пользой, учитесь онлайн!
    %br
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} На&nbsp;весь апрель мы&nbsp;запланировали большую программу вебинаров с&nbsp;нашими педагогами. Подробнее узнать о&nbsp;них можно по&nbsp;ссылке #{link_to 'https://www.cosmeticru.com/online-kursy', 'https://www.cosmeticru.com/online-kursy', target: '_blank'}