%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Здравствуйте, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}= ty('Дом Русской Косметики поздравляет вас с грядущим Днем рождения и дарит скидку 10% на любой новый курс! Надеемся, что вы ярко отметите этот праздник с вашими друзьями и близкими, получите много приятных подарков, а также сделаете главный подарок себе - измените свою жизнь и получите новые, востребованные навыки в сфере косметологии! Скидка 10% в течение двух недель до и после Дня рождения. Запишитесь на обучение сегодня: +7(495)2564677')