%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} Уважаемые студенты, обучение по вашим программам бесплатное.
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} Некоторые студенты получили напоминание об оплате - это техническая ошибка.
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} Приносим за нее свои извинения.
    %p{style: 'margin: 0; margin:-left: 5px; text-align: left;'} Приятной вам учебы и успешной сдачи экзаменов.