%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      30 апреля мы обновим два блока вашего курса: Строение кожи, Косметическая химия и космецевтика.
      %br
      После обновления, система автоматически переместит вас к началу этих блоков, вам придется заново пройти их и сдать тесты.
      %br
      Ваши результаты по всем остальным блокам сохранятся. Сразу после того как вы пройдете новые блоки, вы сможете перейти на лекцию, на которой вы остановились до обновления материалов.

