%p Для обучения по курсу вам потребуются следующие аппараты, расходные материалы и косметика.
%p Вы можете купить их по списку сами, либо приобрести у нас готовый набор, где все уже собрано.

%p Список необходимого для обучения:

%ul
  %li Учебный манекен для массажа
  %li Аппарат для УЗ-чистки
  %li Дарсонваль
  %li Миска для маски (2 шт)
  %li Шпатель пластиковый
  %li Кисть для маски
  %li Линейка и карандаш для бровей
  %li Пинцет для коррекции бровей
  %li Пинцет для депиляции
  %li Ложка УНО
  %li Кисть веерная для пилинга
  %li Миска для альгинатной маски
  %li Мерная ложка
  %li Одноразовые простыни
  %li Ватные диски и ватные палочки
  %li Влажные и сухие салфетки
  %li Салфетки безворсовые
  %li Шапочки одноразовые
  %li Шпатели деревянные
  %li Щетки для бровей
  %li Нитриловые перчатки
  %li Антисептик
  %li Молочко косметическое
  %li Тоник
  %li Средство для удаление макияжа с глаз
  %li Скраб
  %li Пилинг энзимный
  %li Гель для холодного распаривания
  %li Защитный крем
  %li Салициловая кислота
  %li Гелевая маска
  %li Увлажняющая маска
  %li Успокаивающая маска
  %li Пластифицирующая маска
  %li Массажное масло
  %li Тальк
  %li Вазелин
  %li Краска для ресниц черная и краска коричневая (набор краска, оксидант, стаканчик для разведения)
  %li Нейтрализатор
  %li Лосьон для удаления краски с кожи
  %li Пилинги с молочной кислотой 10%
  %li Сахарная паста Универсальная
  %li Лосьон/Тоник для подготовки кожи перед шугарингом
  %li Тальк для депиляции
  %li Средство после шугаринга (сливки, лосьон,гель)
  %li Перекись
  %li Сыворотка для лица
