%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@student.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 20px 0;'}
    %hr{width: '220', style: 'margin: 0;'}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}= ty('Ваш диплом ITEC уже в Москве. Вы можете забрать его в Институте в будние дни с 10.00 до 19.00.')
    %p{style: 'margin: 0;text-align: left;'}= ty('Если вы не можете забрать диплом лично, мы вышлем его вам почтой. Другой человек может забрать ваш диплом только по нотариальной доверенности.')