%p Добрый день, #{@student.short_name}!

%p Вам необходимо предоставить следующие недостающие документы:

%p #{@student.missing_docs_list}.

%p
  = ty('Вы можете загрузить отсканированные копии в ')
  = link_to 'личном кабинете.', edit_profile_url
