%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'расходы' => '#'}
      %h3.tx-center РАСХОДЫ
      .form__admin
        .admin_header.tx-center
          .header_inner
            %a.a_under.modal{data: {url: new_admin_campaign_index_path}}>
              %span.icon-add> +
              Добавить расход
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-3-9>
                кампания
              .grid_i.grid_i__grid-2-9.tx-right>
                значение
              .grid_i.grid_i__grid-2-9.tx-center>
                дата
              .grid_i.grid_i__grid-2-9.tx-right>
                действия
          .grid.grid__collapse
            = render collection: @campaign_indices, partial: 'admin/campaign_indices/campaign_index'
      = will_paginate @campaign_indices, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
