.course_block>
  .icon_del.js-remove-block X
  .course_block_inner
    = link_to block.name, edit_admin_block_path(block), class: 'a_under'
    = hidden_field_tag 'course[block_ids][]', block.id, data: {block_id: true}