.advantages
  %ul.advantages__list
    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#graduate')
        %div.dd.advantage__description Работаем с&nbsp;1989 года и&nbsp;выпустили 10&nbsp;000 студентов

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#documentation')
        %div.dd.advantage__description Выдаем документы государственного образца, соответствующие требованиям лицензирующих органов

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#diploma')
        %div.dd.advantage__description Выдаем международный диплом позволяющий работать в&nbsp;42&nbsp;странах мира

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#employment')
        %div.dd.advantage__description Трудоустройство выпускников, среди работодателей&nbsp;&mdash; Babor, Балчуг Kempinski, Линлайн, Dessange, Aldo Coppola, Моне, Единая Европа Холдинг

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#teachers')
        %div.dd.advantage__description Опытные преподаватели-практики и&nbsp;врачи-косметологи

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#internet')
        %div.dd.advantage__description Система дистанционного обучения позволяет изучить теорию через Интернет