.advantages
  %ul.advantages__list
    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#teachers')
        %div.dd.advantage__description Включены все востребованные навыки по&nbsp;уходу за&nbsp;лицом и&nbsp;телом

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#internet')
        %div.dd.advantage__description Удобно совмещать с&nbsp;работой или учебой: теория доступна через интернет, есть вечерние группы

    %li.advantages__item
      %div.dl.advantage
        %div.dt.advantage__title
          %svg.icon.advantage__icon(role='img' data-size='100')
            %use(xlink:href='/assets/courses_shop/icons.svg#employment')
        %div.dd.advantage__description Предоставляются медицинская форма, расходные материалы и&nbsp;косметика