%div.dl(data-state='collapsed')
  %div.dt
    %span Как к&nbsp;вам поступить? Есть&nbsp;ли вступительные экзамены?
    %svg.icon(role='img' data-size='18')
      %use(xlink:href='/assets/courses_shop/icons.svg#chevron-down')
  %div.dd
    %p Для указанных курсов требуется среднее или высшее медицинское образование. Курсы младшей медицинской сестры не&nbsp;являются медицинским образованием, поэтому вы&nbsp;можете пройти только курсы для людей без медицинского образования. Инъекционные методы младшие медицинские сестры изучать не&nbsp;могут.
    %p Для указанных курсов требуется среднее или высшее медицинское образование. Курсы младшей медицинской сестры не&nbsp;являются медицинским образованием, поэтому вы&nbsp;можете пройти только курсы для людей без медицинского образования. Инъекционные методы младшие медицинские сестры изучать не&nbsp;могут.

%div.dl(data-state='collapsed')
  %div.dt
    %span Как проходит собеседование с&nbsp;абитуриентами?
    %svg.icon(role='img' data-size='18')
      %use(xlink:href='/assets/courses_shop/icons.svg#chevron-down')
  %div.dd
    %p Для указанных курсов требуется среднее или высшее медицинское образование. Курсы младшей медицинской сестры не&nbsp;являются медицинским образованием, поэтому вы&nbsp;можете пройти только курсы для людей без медицинского образования. Инъекционные методы младшие медицинские сестры изучать не&nbsp;могут.

%div.dl(data-state='collapsed')
  %div.dt
    %span Может&nbsp;ли младшая медсестра проходить курсы инъекций, сестринское дело в&nbsp;косметологии?
    %svg.icon(role='img' data-size='18')
      %use(xlink:href='/assets/courses_shop/icons.svg#chevron-down')
  %div.dd
    %p Для указанных курсов требуется среднее или высшее медицинское образование. Курсы младшей медицинской сестры не&nbsp;являются медицинским образованием, поэтому вы&nbsp;можете пройти только курсы для людей без медицинского образования. Инъекционные методы младшие медицинские сестры изучать не&nbsp;могут.