.graduates-cards
  %ul.graduates-cards__list
    - 1.upto(6) do
      %li.graduates-cards__card
        .graduate-card
          = image_tag 'courses_shop/avatar.svg', width: '120', height: '120', alt: '', class: 'graduate-card__photo'
          %p.graduate-card__caption Визажист мирового уровня, создатель креативной лаборатории ArtBanda, член сборной команды России по&nbsp;декоративной косметике и&nbsp;боди-арту, судья Российских и&nbsp;международных конкурсов по&nbsp;макияжу и&nbsp;боди-арту, Бронзовый призер Чемпионата мира по&nbsp;парикмахерскому искусству и&nbsp;декоративной косметике (Чикаго, США&nbsp;&mdash; 2008&nbsp;г.), Призер Чемпионата мира по&nbsp;парикмахерскому искусству и&nbsp;декоративной косметике (Москва, Россия&nbsp;&mdash; 2008&nbsp;г.), Обладатель Гран-при на&nbsp;конкурсе &laquo;Золотая роза&raquo; (Франция, Париж, 2006).
          %p.graduate-card__person Светлана Михеева<br>факультет профессионального макияжа