.partners-items
  %ul.partners-items__list
    - 1.upto(3) do
      %li.partners-items__item
        %figure.partner-item
          = image_tag 'https://placehold.it/130x30?text=∴', alt: '', class: 'partner-item__logo'
          %figcaption.partner-item__caption
            .h5.partner-item__title Первый канал
            %p.partner-item__text Визажисты Дома Русской Косметики регулярно создают грим для программ &laquo;Первого канала&raquo;. Преподаватели Института, в&nbsp;том числе Анна Сикорская и&nbsp;Светлана Сикорская, регулярно выступают экспертами программ &laquo;Здоровье&raquo; и&nbsp;&laquo;Доброе утро&raquo;. Светлана Сикорская и&nbsp;Дом Русской Косметики награждены почетной грамотой &laquo;Первого канала&raquo; за&nbsp;помощь в&nbsp;подготовке программ: &laquo;Дирекция утреннего телеканала ОАО &bdquo;Первый канал&ldquo; выражает искреннюю благодарность сотрудникам Академии косметологии и&nbsp;макияжа Дом Русской Косметики и&nbsp;лично ректору Светлане Всеволодовне Сикорской за&nbsp;помощь в&nbsp;организации и&nbsp;проведении съемок для программы &bdquo;Доброе утро&ldquo;&raquo;.