.alert.mb-1
  - if @previous_result.on_mark?
    = ty("Мы получили ваши работы, они на проверке у преподавателя")
  - elsif @previous_result.passed?
    = ty("Ваша работа принята преподавателем, ваша оценка #{@previous_result.mark} баллов")
  - else
    = ty("Преподаватель не принял вашу работу. Вам нужно сдать ее заново или подгрузить дополнительные материалы")