<script type="text/template" id="task-test-answer-template">
  <div class="grid_i grid_i__grid-2-12 grid_i__prefix-1-12">
    <label class="form_el form_label"><%%= this.correct ? 'Верный ответ' : 'Вариант' %></label>
  </div><div class="grid_i grid_i__grid-3-4">
    <div class="form_el js-form_el form_tx">
      <input class="form_el_tag form_tx_tag js-title" type="text" value="<%%= title %>">
    </div>
  </div>
</script>