.grid_i.grid_i__grid-5-6{class: static_page_counter == 0 ? 'mt-3' : ''}>
  .table_ellipsis
    = link_to static_page.title, edit_admin_static_page_path(static_page)
.grid_i.grid_i__grid-1-6{class: static_page_counter == 0 ? 'mt-3' : ''}>
  %time{datetime: static_page.created_at}= format_date(static_page.created_at)