@charset "UTF-8";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    @include text-base;

    background-color: $color-dark;
    color: #fff;
    font-weight: $font-weight-base;
    font-family: $font-family-base;
}

a {
    @include link;

    text-decoration: none;
    transition: $transition-base;
}

b,
strong {
    font-weight: $font-weight-solid;
}

button,
input,
select,
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

select {
    border-radius: 0;

    &::-ms-expand { // IE11
        display: none;
    }
}

textarea {
    resize: none;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: $font-weight-solid;
}

h1, .h1{
    margin: 0;
    font-size: 3rem;
    line-height: 1;

    @include mq(md) {
        font-size: 4.5rem;
    }

    @include mq(lg) {
        font-size: 6rem;
    }
}

h4, .h4 {
    font-size: 2.5rem;

    @include mq(md) {
        font-size: 3rem;
    }

    @include mq(lg) {
        font-size: 3.5rem;
    }
}

h5, .h5 {
    font-size: 2rem;
    line-height: 1;

    @include mq(md) {
        font-size: 2.5rem;
    }

    @include mq(lg) {
        font-size: 3rem;
    }
}

h6, .h6 {
    @include text-base;
}

small {
    font-size: 1.4rem;
}

hr {
    border: none;
}

iframe {
    border: none;
}

img {
    max-width: 100%;

    &[width],
    &[height] {
        max-width: none;
    }
}

figure {
    margin: 0;
}

ol,
ul {
    list-style: none;
}

svg {
    vertical-align: top;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

:disabled {
    cursor: not-allowed;
}