.page.page--sections
  %section.page-section
    .container
      %header.page__header
        .h2.page__title Оферта и&nbsp;условия использования

      .content-announce
        .content-announce__text
          %p Настоящий договор, адресован физическим лицам зарегистрированным на&nbsp;сайте в&nbsp;сети Интернет <a href='http://cosmeticru.com/'>www.cosmeticru.com</a>, далее именуемым &laquo;Подписчик&raquo;, и&nbsp;является официальным и&nbsp;публичным предложением ЧУ&nbsp;ДПО &laquo;Институт КЭМВИ ДРК&raquo;, далее именуемым &laquo;Институт&raquo;, заключить договор, предмет и&nbsp;условия которого указаны в&nbsp;Приложении к&nbsp;настоящему договору, заключили настоящий договор (далее&nbsp;&mdash; Договор) о&nbsp;нижеследующем:

      .content-narrow
        .content.js-content(data-size='sm')
          %ol
            %li
              Термины и&nbsp;определения:
              %ol
                %li Публичная Оферта&nbsp;&mdash; настоящее предложение о&nbsp;приобретении Услуг Института, публикуемое Представителем на&nbsp;Сайте, обращенное неограниченному кругу лиц, в&nbsp;том числе Пользователям;
                %li Образовательная программа&nbsp;&mdash; программа, по&nbsp;которой Институт осуществляет обучение в&nbsp;соотвествие с&nbsp;образовательной лицензией и&nbsp;приложениям к&nbsp;ней (серия 77Л01 &#8470;&nbsp;0006897 регистрационный &#8470;&nbsp;036093 от&nbsp;07&nbsp;апреля 2015&nbsp;года, бессрочно; выдана Департаментом образования города Москвы). Условия обучения по&nbsp;программе и&nbsp;особенности программы оговариваются на&nbsp;Сайте и&nbsp;являются неотъемлемой частью (Приложением) к&nbsp;настоящей Публичной Оферте (Договору);
                %li Период обучения&nbsp;&mdash; период времени, в&nbsp;течение которого обучающийся проходит обучение по&nbsp;образовательной программе;
                %li Обучающийся&nbsp;&mdash; Подписчик, который осуществил оплату образовательной программы и&nbsp;был зачислен в&nbsp;Институт соотвествующим приказом ректора;
                %li Беспроцентная рассрочка&nbsp;&mdash; кредит, предоставляемый обучающемуся АО&nbsp;&laquo;Альфа-банк&raquo; для оплаты услуг Института в&nbsp;такой форме, что итоговая сумма платежей по&nbsp;кредитному договору (погашение тела долга и&nbsp;выплата процентов) равняется стоимости услуги Института по&nbsp;прайс-листу при единовременной оплате. Беспроцентная рассрочка предполагает заключение кредитного договора между обучающимся и&nbsp;АО&nbsp;&laquo;Альфа-банк&raquo;. АО&nbsp;&laquo;Альфа-банк&raquo; при одобрении заявок на&nbsp;кредит руководствуется собственными правилами и&nbsp;процедурами, Институт не&nbsp;гарантирует одобрение кредита для обучающегося.
            %li Полным и&nbsp;безоговорочным согласием заключить Договор (далее&nbsp;&mdash; Акцептом) является регистрация на&nbsp;сайте Института в&nbsp;сети Интернет: <a href='http://cosmeticru.com/'>www.cosmeticru.com</a> (далее&nbsp;&mdash; Сайт), и&nbsp;осуществление оплаты, предусмотренной пунктом 7&nbsp;Договора.
            %li Акцепт Договора означает, что Подписчик согласен со&nbsp;всеми положениями настоящего предложения, и&nbsp;равносилен заключению Договора и&nbsp;приложений к&nbsp;нему.
            %li Акцепт договора означает, что Подписчик ознакомился с&nbsp;образовательной лицензией Института.
            %li Предмет, условия и&nbsp;срок действия Договора устанавливается в&nbsp;соответствующем Приложении к&nbsp;нему (описание образовательной программы и&nbsp;учебный план).
            %li Приложения к&nbsp;Договору является его неотъемлемой частью. Все условия, содержащиеся в&nbsp;Приложениях к&nbsp;Договору, являются условиями Договора.
            %li Приложение к&nbsp;Договору размещается в&nbsp;разделе &laquo;Описание образовательной программы&raquo; Интернет-страницы Сайта, содержащем предмет, условия и&nbsp;срок сделки с&nbsp;Институтом.
            %li Подписчик перечисляет сумму в&nbsp;размере, указанном в&nbsp;соответствующем Приложении к&nbsp;Договору, на&nbsp;расчётный счёт Института способами, указанными на&nbsp;Сайте. Перечисление суммы может производиться посредством безналичного расчёта.
            %li Все расходы по&nbsp;уплате суммы, указанной в&nbsp;пункте 8&nbsp;Договора, несет Подписчик.
            %li Обучающийся вправе привлекать иных физических или юридических лиц для оплаты своего обучения. Привлечение иных физических или юридических лиц для оплаты обучения Обучающегося не&nbsp;снимает с&nbsp;него обязательств. Отношения между сторонами в&nbsp;связи с&nbsp;привлечением иных физических или юридических лиц для оплаты обучения Обучающегося могут быть урегулированы отдельными соглашениями к&nbsp;настоящему Договору.
            %li В&nbsp;случае отказа Обучающегося от&nbsp;забронированных и&nbsp;оплаченных услуг Института, внесенная сумма денежных средств не&nbsp;подлежит возврату.
            %li Возникновение прав и&nbsp;обязанностей Продавца и&nbsp;Подписчика по&nbsp;Договору зависит от&nbsp;наступления следующего условия, относительно которого сторонам Договора неизвестно, наступит оно или не&nbsp;наступит, а&nbsp;именно: акцепта Договора другими подписчиками, минимальное количество которых указывается в&nbsp;соответствующем Приложении к&nbsp;Договору.
            %li Доказательством заключения Договора Подписчиком является предъявление уникального кода Институту, который присваивается Подписчику после регистрации на&nbsp;Сайте, или предъявления Институту распечатки подтверждения покупки из&nbsp;личного кабинета на&nbsp;сайте. Любые иные доказательства заключения Договора Продавцом не&nbsp;рассматриваются.
            %li Обучение в&nbsp;Институте осуществляется на&nbsp;русском языке.
            %li
              Институт имеет право отчислить Обучающегося из&nbsp;числа Обучающихся:
              %ol
                %li В&nbsp;случае если Обучающийся не&nbsp;выполнил учебный план Программы;
                %li В&nbsp;случае если Обучающийся не&nbsp;оплатил обучение в&nbsp;Институте в&nbsp;сроки, указанные в&nbsp;приложении к&nbsp;Договору;
                %li В&nbsp;случае если Обучающийся нарушил приказы, правила и&nbsp;иные локальные акты, действующие в&nbsp;Институте;
                %li В&nbsp;случае если Обучающийся своими действиями опорочил репутацию Института.
            %li Институт вправе самостоятельно осуществлять образовательный процесс, выбирать системы оценок, формы, порядок и&nbsp;периодичность промежуточной аттестации обучающихся, применять меры поощрения и&nbsp;налагать взыскания в&nbsp;пределах, предусмотренных Уставом Института, а&nbsp;также осуществлять подбор и&nbsp;расстановку кадров.
            %li
              Обучающийся вправе:
              %ol
                %li Обращаться к&nbsp;работникам Института по&nbsp;вопросам, касающимся обучения в&nbsp;образовательном учреждении;
                %li Получать полную и&nbsp;достоверную информацию об&nbsp;оценке своих знаний, умений и&nbsp;навыков, а&nbsp;также о&nbsp;критериях этой оценки;
                %li Пользоваться имуществом Института, необходимым для осуществления образовательного процесса, во&nbsp;время занятий, предусмотренных расписанием;
                %li Пользоваться дополнительными образовательными услугами, не&nbsp;входящими в&nbsp;учебную программу, за&nbsp;отдельную плату.
            %li
              Обязанности Института:
              %ol
                %li Зачислить Обучающегося, выполнившего установленные Институтом условия приема, в&nbsp;Институт;
                %li Организовать и&nbsp;обеспечить надлежащее исполнение услуг, предусмотренных в&nbsp;приложении к&nbsp;настоящему договору;
                %li Создать Обучающемуся необходимые условия для освоения выбранной образовательной программы;
                %li После прохождения Обучающимся полного курса обучения и&nbsp;успешной итоговой аттестации обеспечить выдачу Обучающемуся выпускного документа, предусмотренного Программой;
                %li Выдать Обучающемуся документ (справку) об&nbsp;освоении тех или иных компонентов образовательной программы в&nbsp;случае отчисления Обучающегося из&nbsp;образовательной организации до&nbsp;завершения им&nbsp;обучения;
                %li В&nbsp;случае пропуска занятий (не&nbsp;более 3&nbsp;недель) по&nbsp;причине болезни или иной уважительной причине и&nbsp;при наличии документа подтверждающего данный факт, Институт сохраняет место Обучающегося и&nbsp;предоставляет возможность восстановить пропущенный материал, путем временного прикрепления к&nbsp;другим группам, либо предоставлением пропущенных занятий в&nbsp;виде методических материалов;
                %li Обеспечивать процесс обучения расходными материалами, пособиями и&nbsp;иными материалами, необходимыми для проведения обучения, по&nbsp;нормам расхода, утвержденным Институтом и&nbsp;оказывать содействие в&nbsp;ином обеспечении, способствующем высокому уровню проводимых занятий.
            %li
              Обязанности Обучающихся:
              %ol
                %li Своевременно вносить плату за&nbsp;предоставляемые услуги;
                %li Посещать занятия, указанные в&nbsp;учебном расписании;
                %li Выполнять задания по&nbsp;подготовке к&nbsp;занятиям;
                %li Соблюдать требования Устава Института, Правил внутреннего распорядка, соблюдать учебную дисциплину и&nbsp;общепринятые нормы поведения, в&nbsp;частности, проявлять уважение к&nbsp;научно-педагогическому, административно-хозяйственному, учебно-вспомогательному и&nbsp;иному персоналу Института и&nbsp;другим обучающимся, не&nbsp;посягать на&nbsp;их&nbsp;честь и&nbsp;достоинство;
                %li Бережно относиться к&nbsp;имуществу Института;
                %li Возмещать ущерб, причиненный Обучающимся имуществу Института, в&nbsp;соответствии с&nbsp;законодательством Российской Федерации;
                %li До&nbsp;начала обучения предоставить Институту копии документов, подтверждающих наличие соответствующего образования, паспорт и&nbsp;документы о&nbsp;прохождении повышения квалификации;
                %li В&nbsp;случае непредвиденных обстоятельств мешающих осуществлять обучение, Обучающийся обязан проинформировать учебную часть, представить соответствующие документы и&nbsp;заявление, на&nbsp;основании которых Институт имеет право предоставить Обучающемуся академический отпуск, либо осуществить перевод на&nbsp;другой срок обучения. Непредвиденными обстоятельствами, дающими учащемуся право на&nbsp;изменение срока обучения считаются: болезнь, смерть близкого родственника, обстоятельства непреодолимой силы, совершение противоправных действий в&nbsp;отношении Обучающегося при наличии документа подтверждающего данный факт.
            %li Порядок обмена информацией между Институтом и&nbsp;Подписчиком определяется и&nbsp;доводится до&nbsp;сведения Подписчика на&nbsp;Сайте.
            %li Подписчик согласен с&nbsp;тем, что Институтом используются и&nbsp;обрабатываются персональные данные Подписчика. Также, настоящим, Подписчик дает согласие на&nbsp;передачу персональных данных третьим лицам (подрядчикам Института), осуществляемую Институтом с&nbsp;целью улучшения сервиса сайта <a href='http://cosmeticru.com/'>www.cosmeticru.com</a>.
            %li Подписчик согласен с&nbsp;тем, что после прохождения процедуры регистрации на&nbsp;Сайте на&nbsp;электронный адрес Подписчика Институтом будут направляться письма и&nbsp;сообщения, в&nbsp;том числе рекламного характера. Вместе с&nbsp;тем Институт обязуется не&nbsp;передавать адрес и&nbsp;иные сведения о&nbsp;Подписчике третьим лицам.
            %li Подписчик дает свое согласие на&nbsp;обработку (сбор, систематизацию, накопление, хранение, уточнение (обновление, изменение), использование, распространение (в&nbsp;том числе передачу), обезличивание, блокирование, уничтожение) своих персональных данных, указанных им&nbsp;в&nbsp;настоящем договоре, на&nbsp;срок его действия с&nbsp;целью исполнения принятых сторонами договора на&nbsp;себя обязательств, в&nbsp;том числе информации о&nbsp;задолженности по&nbsp;оплате услуг по&nbsp;настоящему договору, если таковая будет иметь место. Подписчик также дает свое согласие на&nbsp;получение рекламных и&nbsp;информационных рассылок Института, на&nbsp;передачу своих персональных данных третьим лицам для целей исполнения настоящего договора.
            %li Подписчик согласен с&nbsp;тем, что возврат денежных средств осуществляется Институтом, на&nbsp;баланс Подписчика на&nbsp;сайте <a href='http://cosmeticru.com/'>www.cosmeticru.com</a> на&nbsp;основании электронного письма, отправленного через форму обратной связи на&nbsp;сайте. Возврат денежных средств на&nbsp;банковскую карту Подписчика осуществляется на&nbsp;основании письменного запроса с&nbsp;приложением копии документов, предусмотренных российским законодательством. При оплате услуг Института с&nbsp;помощью банковской карты, возврат средств осуществляется на&nbsp;ту&nbsp;же карту, с&nbsp;которой происходила оплата. В&nbsp;зависимости от&nbsp;банка-эмитента срок возврата может занять в&nbsp;среднем от&nbsp;3&nbsp;до&nbsp;10&nbsp;рабочих дней. Запросы на&nbsp;полный возврат средств рассматриваются не&nbsp;позднее чем за&nbsp;неделю до&nbsp;начала срока обучения по&nbsp;образовательной программе. В&nbsp;течение срока от&nbsp;недели до&nbsp;начала обучения по&nbsp;образовательной программе до&nbsp;окончания обучения возможен частичный возврат средств Обучающемуся за&nbsp;вычетом регистрационного сбора за&nbsp;оформление документов в&nbsp;размере 10&nbsp;000&nbsp;руб. и&nbsp;стоимости фактически оказанных образовательных услуг. Заявки на&nbsp;частичный возврат средств принимаются исключительно в&nbsp;письменном виде по&nbsp;месту нахождения Института.
            %li
              Основания изменения и&nbsp;расторжения договора:
              %ol
                %li Условия, на&nbsp;которых заключен настоящий договор, могут быть изменены либо по&nbsp;соглашению сторон, либо в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации;
                %li Настоящий договор может быть расторгнут по&nbsp;соглашению сторон;
                %li Обучающийся вправе отказаться от&nbsp;исполнения договора при условии оплаты Институту фактически понесенных им&nbsp;расходов;
                %li При одностороннем отказе Обучающегося от&nbsp;исполнения настоящего Договора, Договор считается расторгнутым с&nbsp;даты регистрации Обучающимся соответствующего заявления, либо в&nbsp;соответствии с&nbsp;датой, указанной в&nbsp;заявлении, при подаче его в&nbsp;установленном порядке. Непосещение занятий, невыполнение учебного плана Обучающимся не&nbsp;является односторонним отказом от&nbsp;исполнения настоящего Договора.
            %li
              Обстоятельства непреодолимой силы:
              %ol
                %li Обстоятельства непреодолимой силы, признанные в&nbsp;силу законодательства таковыми, делающие невозможным исполнение настоящего Договора любой из&nbsp;Сторон могут явиться основанием, освобождающими стороны от&nbsp;ответственности;
                %li Сторона, ссылающаяся на&nbsp;обстоятельства непреодолимой силы, обязана незамедлительно информировать иныеСтороны в&nbsp;письменной форме о&nbsp;наступлении подобных обстоятельств. Если вышеупомянутые обстоятельства будут длиться более шести месяцев, то&nbsp;любая Сторона имеет право расторгнуть настоящий Договор в&nbsp;одностороннем порядке, известив об&nbsp;этом другие Стороны в&nbsp;течение одного месяца.
            %li Обучающийся передает Институту исключительные имущественные права на&nbsp;объекты авторского и&nbsp;патентного права, созданные в&nbsp;течение срока действия настоящего Договора. Исключительные имущественные права на&nbsp;объекты авторского и&nbsp;патентного права передаются Институту в&nbsp;момент выдачи Обучающемуся Сертификата специалиста/Диплома установленного институтом образца. Исполнитель не&nbsp;сохраняет за&nbsp;собой право использовать самостоятельно или предоставлять права на&nbsp;их&nbsp;использование третьим лицам.
            %li Отписаться от&nbsp;рассылки Института вы&nbsp;можете в&nbsp;своём личном кабинете.



  %section.page-section.page-section--background.page-section--content
    .container
      .h4.page-section__title Реквизиты Института

      .content-announce
        .content-announce__text
          %p Автономная некоммерческая организация дополнительного профессионального образования &laquo;Институт Косметологии, эстетической медицины и&nbsp;визажного искусства&nbsp;&mdash; Дом Русской Косметики&raquo;

      .content-narrow
        .content.js-content(data-size='sm')
          %ul
            %li ЧУ&nbsp;ДПО &laquo;Институт КЭМВИ&nbsp;&mdash; ДРК&raquo;
            %li Юрид. адрес: РФ, 117485, г. Москва, ул. Академика Волгина, д.&nbsp;1
            %li Фактический адрес: РФ, 105062, г. Москва, пер. Лялин, д.3, стр.3
            %li ИНН 7728516890&nbsp;КПП 772801001&nbsp;ОГРН 1047796468917
            %li р.с. 40703810301200000066&nbsp;БИК 044525593 к.с.&nbsp;30101810200000000593
            %li АО&nbsp;&laquo;Альфа-Банк&raquo; +7 (495) 374-64-38



  %section.page-section
    .container
      .content-narrow
        .content.js-content(data-size='sm')
          .h4 Доставка
          %p Образовательные услуги Института оказываются по&nbsp;месту нахождения Института по&nbsp;адресу: г. Москва, пер. Лялин, д.3, стр.3. Обучающиеся Института также получают доступ к&nbsp;системе дистанционного обучения, индивидуальные логин, пароль и&nbsp;ссылка для входа высылаются на&nbsp;адрес электронной почты.
          .h4 Политика защиты информации
          %p Согласно закону о&nbsp;Персональных данных Институт обязуется охранять персональные данные Обучающихся, не&nbsp;передавать их&nbsp;третьим лицам, за&nbsp;исключением случаев, когда это требуется для оказания клиенту услуг надлежащего качества. Институт принимает все необходимые усилия для обеспечения безопасности данных пользователей сайта Института и&nbsp;системы дистанционного обучения.
          .h4 Безопасность онлайн платежей
          %p Информация о&nbsp;поведении онлайн-платежей через сервис Paykeeper: <a href='https://cosmeticru.server.paykeeper.ru/'>https://cosmeticru.server.paykeeper.ru/</a>.
          %p Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и&nbsp;не&nbsp;подлежит разглашению. Данные Вашей кредитной карты передаются только в&nbsp;зашифрованном виде и&nbsp;не&nbsp;сохраняются на&nbsp;нашем Web-сервере. Безопасность обработки Интернет-платежей гарантирует ОАО &laquo;Московский кредитный банк&raquo;. Все операции с&nbsp;платежными картами происходят в&nbsp;соответствии с&nbsp;требованиями VISA International, MasterCard, American Express и&nbsp;других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на&nbsp;безопасном высокотехнологичном сервере процессинговой компании. В&nbsp;случаи использования регулярных платежей, при совершении первой операции номер Вашей карты и&nbsp;срок действия будут сохранены на&nbsp;стороне Банка в&nbsp;безопасном хранилище. По&nbsp;факту выполнения или оказания услуг со&nbsp;стороны компании, данные будут удалены автоматически. Все ресурсы Банка соответствуют стандартам безопасности PCI&nbsp;DSS.
          %p При проведении операции&nbsp;Вы будете дополнительно перенаправлены на&nbsp;страницу Банка-Эмитента для ввода подтверждающего кода безопасности (в&nbsp;случае если банк, выпустивший Вашу карту поддерживает технологию 3DSecure, и&nbsp;Ваша карта также поддерживает данную программу). 3D&nbsp;Secure&nbsp;&mdash; процедура дополнительной аутентификации держателя карты, предназначенная для обеспечения гарантированной безопасности платежей по&nbsp;банковским картам в&nbsp;Сети Интернет.
          %p Технологическое решение 3D&nbsp;Secure имеет свой собственный бренд в&nbsp;каждой из&nbsp;платежных систем:
          %ul
            %li Verified by&nbsp;Visa&nbsp;&mdash; по&nbsp;картам платежной системы Visa Int.
            %li MasterCard Secure Code&nbsp;&mdash; по&nbsp;картам, выпущенным в&nbsp;рамках MasterCard Int
            %li SafeKey и&nbsp;JSecure&nbsp;&mdash; платежная система American Express и&nbsp;JCB соответственно.
          %p В&nbsp;независимости от&nbsp;названия, технология 3D&nbsp;Secure предполагает защищенную сессию при проведении интернет-транзакции и&nbsp;позволяет пользователям-держателям карты, подтвердить правомерность операции для Банка выпустивший карту. В&nbsp;случае возникновения вопросов по&nbsp;поводу данной конфиденциальности предоставляемой Вами информации, Вы&nbsp;можете связаться с&nbsp;ОАО &laquo;Московский кредитный банк&raquo; по&nbsp;телефону: 8&nbsp;800 100-4-888.