%div.dl
  %div.dt
    %span м. Павелецкая
  %div.dd
    %div.way
      %p.desc Вам нужен выход к ул. Бахрушина из м. Павелецкая (подходит как кольцевая, так и замоскворецкая линия метро).        |
      Выходите из метро, поворачиваете налево, на Садовое кольцо, и двигаетесь вдоль Садового кольца в сторону ул. Бахрушина      |
      (Садовое кольцо должно быть справа, жилые дома - слева), на пересечении с ул. Бахрушина поверните налево. Далее двигайтесь  |
      прямо до пересечения с Большим Татарским переулком, поверните направо, идите по переулку до первого поворота налево         |
      (это Большая Татарская улица). По ней прямо около 200 м, справа будет бизнес центр “Замоскворечье”. Вам нужна стеклянная    | 
      дверь с вывеской Дом Русской Косметики. Заходите внутрь, на охране необходимо взять пропуск (потребуется паспорт) и         |
      подняться на 3 этаж. Вам нужна первая лестница после поста охраны, ориентируйтесь по указателям Дом Русской Косметики.      |
      %img.photo{ alt: "Большая Татарская улица, 35с3", src: image_path('courses_shop/contact_photo.jpg') }                                                      
    %p.is-sm
      = link_to 'Показать на&nbsp;карте'.html_safe, 'http://maps.yandex.ru/?ll=37.635868,55.734534&z=15&text=55.737451,37.635485'
    .contacts-routes__map#contacts-map-1
%div.dl
  %div.dt
    %span м. Новокузнецкая
  %div.dd
    %div.way
      %p.desc Выходите со станции м. Новокузнецкая (единственный выход из метро), на выходе из метро идите прямо, вдоль трамвайных    |
      путей (станция метро остается за спиной) до пересечение с Климентовским переулком (это первый переулок на пути, ориентир -      |
      магазин Азбука Вкуса). Поверните налево в переулок и пройдите его до конца до пересечения с Большой Татарской улицей. Поверните |
      направо и двигайтесь прямо 300 м, с левой стороны будет бизнес центр “Замоскворечье”, стеклянная дверь с вывеской Дом Русской   |
      Косметики. Заходите внутрь, на охране необходимо взять пропуск (потребуется паспорт) и подняться на 3 этаж. Вам нужна первая    |
      лестница после поста охраны, ориентируйтесь по указателям Дом Русской Косметики.                                                |
      %img.photo{alt: 'Большая Татарская улица, 35с3', src: image_path('courses_shop/contact_photo.jpg') }
    %p.is-sm
      = link_to 'Показать на&nbsp;карте'.html_safe, 'http://maps.yandex.ru/?ll=37.631263,55.739647&z=16&text=55.737451,37.635485'
    .contacts-routes__map#contacts-map-2
    