.page.page--sections
  = render 'courses_shop/common/breadcrumbs'
  %section.page-section
    .container
      %header.page__header
        %h1.page__title Акции и скидки

      .promotions-cards
        %ul.promotions-cards__list
          = render partial: 'courses_shop/home/promotion', collection: @promotions

- content_for :js do
  = mindbox(:all_promo_view)
  :javascript
    $('.js-promo-mindbox').click(function() {
      mindboxWrapper.operation(["async",{"operation":"PromoView","data":{"product":{"ids":{"website":$(this).attr('data-feed-id')}}}}])
    });
