%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'уровни образования' => '#'}
      %h3.tx-center УРОВНИ ОБРАЗОВАНИЯ
      .form__admin
        .admin_header.tx-center
          .header_inner
            %a.a_under.modal{data: {url: new_admin_education_level_path}}>
              %span.icon-add> +
              Добавить уровень образования
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @education_levels, partial: 'admin/education_levels/education_level'
      = will_paginate @education_levels, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
