- player_options ||= nil
- jw_script ||= nil
= link_to '#popup-jwplayer', 'data-mfp-type' => 'jwplayer', 'data-player-options' => player_options, 'data-script' => jw_script do
  %svg.icon(role='img' data-size='34')
    %use(xlink:href='/assets/courses_shop/icons.svg#video')
  Видео о&nbsp;курсе