- title ||= ''

%head
  %meta(charset='utf-8')
  %meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  %meta(name="robots" content="noyaca")
  %title= title
  = favicon_link_tag 'sikorsky_school/favicon.ico'
  = stylesheet_link_tag 'sikorsky_school/application', media: 'all'
