- title = 'Курсы парикмахеров'
- link = courses_shop_hairdresser_path

!!!
%html(lang='ru')
  = render 'layouts/sikorsky_school/head', title: title

  %body
    = yield

    = render 'layouts/sikorsky_school/components/site_footer', title: title, link: link

    = javascript_include_tag 'sikorsky_school/application'