- form.input :_destroy, as: :boolean, required: false, label: inline_svg_tag("courses_shop/cursor_close.svg",  class: "svg_remove_btn button has_many_remove"), label_class: ['remove_has_many_label'], class: "has_many_remove"
= form.telephone_field :number, class: 'form_el_tag form_tx_tag input js-intl-tel'