<script type="text/template" id="download-template">
  <div class='material-a'>
    <div class="grid">
      <div class="grid_i grid_i__middle grid_i__grid-1-8">
        <span class='square_icon'>
          <%%= extension %>
          <div class='icon_del'>X</div>
        </span>
      </div><div class="grid_i grid_i__middle grid_i__grid-7-8">
        <%%= filename %>
      </div>
    </div>
  </div>
</script>
