<script type="text/template" id="material-thumb-template">
  <div class='tx-center'>
    <div class='book js-book loaded'>
      <%% if (pdf_editable) { %>
        <div class='icon_del'>X</div>
      <%% } %>
      <div class='icon_add'>+</div>
      <img alt='' class='book_cover' src="<%%= cover_file_url %>">
    </div>
  </div>
</script>