%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Пожалуйста, ознакомьтесь с важной информацией по вашему обучению:

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} 1. Предоставьте все необходимые документы не&nbsp;позднее, чем за&nbsp;5&nbsp;дней до&nbsp;начала обучения. Если документы будут предоставлены позже, то&nbsp;мы&nbsp;не&nbsp;успеем выдать сертификат в&nbsp;день обучения, вам придется приезжать за&nbsp;ним отдельно.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} 2. На занятие нужно принести медицинскую форму и обувь

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} 3. Любая видео и фото съемка занятия разрешена только с согласия преподавателя и моделей

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} 4. Перенос занятия без удержаний возможен не&nbsp;позднее чем за&nbsp;1&nbsp;неделю до&nbsp;начала занятия, либо по&nbsp;уважительной причине (должно быть предоставлено подтверждение, например, больничный). Вызов на&nbsp;работу не&nbsp;является уважительной причиной. Без уважительной причины перенос будет только на&nbsp;платной основе.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}= "5. Подробная памятка о&nbsp;том, как проходит обучение, #{link_to('доступна по ссылке', URI.join(root_url, 'for_students.pdf').to_s, target: '_blank')}.".html_safe

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Приятной учебы!
