%tr
  %td{border: '0',align: 'center'}
    %p{style: 'margin: 10px 0 0 0;text-align: left;'} Уважаемые студенты и сотрудники Института!

%tr
  %td{border: '0',align: 'center'}
    %p{style: 'margin: 10px 0 0 0;text-align: left;'} С 1 февраля вход в институт осуществляется через центральную проходную бизнес-центра.

%tr
  %td{border: '0',align: 'center'}
    %p{style: 'margin: 10px 0 0 0;text-align: left;'} «Южная проходная» будет закрыта с 1 февраля.

%tr
  %td{border: '0',align: 'center'}
    %p{style: 'margin: 10px 0 0 0;text-align: left;'} Центральная проходная находится ближе к кулинарной лавке «Братьев Караваевых», рядом с входом в Фитнес-студию Booster.
%tr
  %td{border: '0',align: 'center'}
    = image_tag(image_url('mailing_letters/entrance_image.png'), style: 'width: 100%; margin-top: 20px; vertical-align:top;')
