%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день, #{@instructor.short_name}!
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}
      %i= 'Ваш пароль был изменен.'.html_safe

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %hr{width: '220', style: 'margin: 0;'}/

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Новый пароль: #{@instructor.password}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Логин остался прежним.