%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Пожалуйста, ознакомьтесь с важной информацией по вашему обучению:

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'}
      1. До&nbsp;начала практики предоставьте все необходимые документы об&nbsp;образовании, а&nbsp;также медицинские документы. От&nbsp;вас потребуется медицинская книжка или справка учащегося формы 086у с&nbsp;записью от&nbsp;дерматолога.
    %p{style: 'margin: 0;text-align: left;'}
      Сканы или фото документов можно загрузить в&nbsp;вашем личном кабинете в&nbsp;системе дистанционного обучения (раздел Профиль) или на&nbsp;нашем сайте #{link_to 'www.cosmeticru.com', 'www.cosmeticru.com'}.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 2. Вам положен халат и&nbsp;обувь. Вы&nbsp;сможете получить их&nbsp;сейчас, либо, если ваших размеров нет в&nbsp;наличии, в&nbsp;день первой практики.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Максимальная длина выдаваемого халата - 94 см (для роста 175 см.), такая длина халата доходит до колена. Если длина недостаточна, под халат вы можете надеть светлые брюки. Брюки не входят в комплект формы, их необходимо приобрести самостоятельно

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 3. Обращаю ваше внимание на&nbsp;то, что бесплатный перенос занятий возможен только по&nbsp;уважительной причине и&nbsp;только при предоставлении подтверждающих документов (например, больничный лист или справка). В&nbsp;этом случае отработка будет проходить в&nbsp;группе.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Если подтверждающих документов нет, то&nbsp;отработка проходит на&nbsp;платной основе (750р.&nbsp;в&nbsp;группе или 1500р. индивидуально&nbsp;&mdash; 1&nbsp;ак.час)

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Вызов на работу или поездка на семейное торжество не является уважительной причиной.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 4. Вам обязательно нужно изучить материалы по теории в системе дистанционного обучения.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} На&nbsp;практических занятиях теорию изучать не&nbsp;будут, если вы&nbsp;ее&nbsp;не&nbsp;освоите, то&nbsp;будете плохо готовы к&nbsp;практике и&nbsp;получите от&nbsp;обучения намного меньше, чем могли&nbsp;бы.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Мы рекомендуем пройти большую часть материалов - примерно 2/3 - до выхода на практику.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Чтобы к&nbsp;практике у&nbsp;вас был доступ ко&nbsp;всем лекциям концентрируйтесь на&nbsp;материалах для чтения с&nbsp;пометкой &laquo;обязательно&raquo; и&nbsp;самих лекциях. Все остальное вы&nbsp;сможете прочесть и&nbsp;после обучения. Доступ сохранится на&nbsp;полгода после выпуска.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Без пройденной СДО Институт не сможет вас аттестовать в срок.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 5. Во&nbsp;время практических занятий вам понадобятся карты клиента (1-2 карты на&nbsp;каждое занятие). В&nbsp;СДО есть бланки карт клиента и&nbsp;образцы их&nbsp;заполнения.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Вам необходимо приходить на занятия с уже распечатанными картами.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 6. С&nbsp;вашим расписанием вы&nbsp;сможете ознакомиться в&nbsp;вашем личном кабинете в&nbsp;СДО. Расписание может меняться, поэтому желательно проверять его накануне занятия.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 7. В&nbsp;случае расторжения договора удерживается регистрационный взнос 10 000р. + фактически понесенные расходы со&nbsp;стороны Института.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 8. Сроки вашего обучения указаны в&nbsp;договоре. Обращаем ваше внимание, что практические занятия заканчиваются ранее указанной конечной даты. Это связано с&nbsp;тем, что мы&nbsp;закладываем от&nbsp;3&nbsp;до&nbsp;10&nbsp;дней для пересдач, если это потребуется, и&nbsp;для подготовки выпускных документов.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Приятной учебы!