%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Студент #{@user.full_name}, группа #{@group.title}, загрузил задание на проверку
    %p{style: 'margin: 0;font-size: 14px; line-height: 24px; padding: 0 50px 0'}

- results = @result.result_file_items.select{ |r| r.file.present? }
- if results.any?
  %tr
    %td{border: '0', style: 'text-align:center;'}
      %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Файлы:
      - results.each do |result_file_item|
        %p{style: 'margin: 0;font-size: 20px; line-height: 24px; padding: 0 50px 0'}= link_to result_file_item.file.file.filename, URI.join(root_url, result_file_item.file.url).to_s