%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Здравствуйте.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Мы всегда рады видеть вас в нашем Институте по адресу Б. Татарская ул., д. 35 с. 3 (с 10 сентября 2018 года)

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Схема, как к нам пройти от метро - в приложении.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} До скорой встречи!