%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}= "Выход есть: в Институте <b>заработал специальный чат поддержки</b> в котором на ваши вопросы ответят намного быстрее.".html_safe
%tr
  %td
    %p
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Зачем писать в чат?
%tr
  %td
    %p
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 10px;text-align: left;'} 1. Вам точно ответят - пропущенный звонок может потеряться, а чат - нет.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 10px;text-align: left;'}= "2. <b>Вам ответят быстро</b> - операторы отвечают в течение 2-3 минут, <b>с 9.00 до 21.00 каждый день</b>".html_safe

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} А где этот ваш чат?

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}= "Зайдите в <a href='https://sdo.sikorsky.academy'>систему дистанционного обучения</a> - окошко чата находится в нижнем правом углу.".html_safe

%a{style: 'margin: 0;text-align: left;', href: 'https://sdo.sikorsky.academy'}

%tr
  %td{border: '0',align: 'center'}
    = image_tag(image_url('chat.png'), style: 'width: 100%; margin-top: 20px; vertical-align:top;')

%tr
  %td{border: '0', style: 'text-align:center;'}
    %a{style: 'margin: 0;text-align: left;', href: 'https://sdo.sikorsky.academy'} Пишите в чат - там отвечают быстро!
