%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400"} Добрый день!

%tr
  %td
    %p Все вы волнуетесь по поводу коронавируса, поэтому мы решили написать вам, как эта ситуация отражается на работе института.Все вы волнуетесь по поводу коронавируса, поэтому мы решили написать вам, как эта ситуация отражается на работе института.
    %p
      %b Институт продолжает свою работу, но возможны изменения в расписании
    %p Министерство и образования и мэрия Москвы рекомендовали нам перевести студентов на удаленное обучение там, где это возможно, а также отказаться от мероприятий для 50 и более человек.
    %p В связи с этим мы пересматриваем расписание занятий на март и апрель с тем, чтобы минимизировать количество выходящих на очное обучение студентов.
    %p Переводим часть занятий на практику на манекенах и в парах, чтобы снизить количество посетителей.
    %p Если график или сроки вашего обучения изменятся, вас обязательно предупредит об этом куратор. Если новые сроки и даты обучения вам не подойдут, мы сделаем все возможное, чтобы согласовать удобные для вас сроки и даты. Все пропущенные занятия будут возмещены.
    %p Просим вас следить за расписанием занятий и нашими рассылками.
    %p Хотим обратить ваше внимание, что данная ситуация относится к обстоятельствам непреодолимой силы (форс-мажор). Перенос части занятий и их сроков по данным причинам не является основанием для расторжения договора и выплаты компенсаций.
    %p
      %b Институт принимает все разумные меры, чтобы обезопасить студентов и педагогов
    %p Часть сотрудников переведена на работу из дома. Для оставшихся сотрудников проводится ежедневное изменение температуры. При признаках плохого самочувствия сотрудники остаются на дому.
    %p В институте работают рециркуляторы, регулярно проводится влажная уборка с применением дез средств.
    %p
      %b Институт вводит упрощенный порядок пропуска занятий
    %p На период с 17 марта по 30 апреля включительно мы разрешаем студентам пропускать занятия без штрафных санкций в следующих случаях:
    %p + вы, ваши родственники или иные люди, с которыми вы тесно контактировали, прибыли из неблагополучных по коронавирусу стран менее 14 дней назад. В этом случае вам рекомендуется придерживаться режима самоизоляции на дому и известить нас по электронной почте или в чате.
    %p + вы плохо себя чувствуете, у вас есть симптомы ОРВИ (даже самые легкие).
    %p Если вы не можете посетить занятия по одной из этих причин - вам достаточно уведомить учебную часть по электронной почте, предъявлять больничный не требуется.
    %p Во вложении вы также найдете последнюю, проверенную информацию по ситуации с коронавирусом, от Всемирной организации здравоохранения.
    %p И самое главное - не забывайте про здравый смысл и немного юмора. Коронавирус практически безвреден для людей моложе 60 лет. Они либо переносят его без симптомов, либо переносят как обычное ОРВИ. Волнение из-за вируса могут навредить вам больше него самого.
