%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Здравствуйте.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Спасибо вам за интерес к обучению в Доме Русской Косметики!

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Высылаем вам основную информацию о нашем Институте и об обучении косметологии.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} В ближайшее время наши менеджеры свяжутся с вами и ответят на ваши вопросы.

%tr
  %td{border: '0', style: 'text-align:center;'}
    %a{style: 'margin: 0;text-align: left;', href: 'https://vimeo.com/217182762'} Посмотрите короткое видео об Институте