%tr
  %td{border: '0', style: 'text-align:center;'}
    %h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"} Добрый день.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Пожалуйста, ознакомьтесь с важной информацией по вашему обучению:

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'}
      1. Предоставьте все необходимые документы об&nbsp;образовании (паспорт, ваши дипломы и&nbsp;сертификаты, свидетельства о&nbsp;смене фамилии).
    %p{style: 'margin: 0;text-align: left;'}
      Сканы или фото документов можно загрузить в&nbsp;вашем личном кабинете в&nbsp;системе дистанционного обучения (раздел Профиль) или на&nbsp;нашем сайте #{link_to 'www.cosmeticru.com', 'www.cosmeticru.com'}.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 2. Подпишите доп.соглашение о&nbsp;практике на&nbsp;рабочем месте с&nbsp;работодателем, верните нам наш экземпляр доп соглашения.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} 3. После того как вы&nbsp;пройдете тесты и&nbsp;все материалы по&nbsp;теории, подгрузите карты клиента с&nbsp;описанием процедур в&nbsp;СДО. К&nbsp;картам необходимо добавить фото до&nbsp;процедуры и&nbsp;после. Необходимо будет загрузить все карты сразу.

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %p{style: 'margin: 0;text-align: left;'} Приятной учебы!