.grid_i.grid_i__grid-2-6
  %label.form_el.form_label Отчет по  практике:
.grid_i.grid_i__grid-3-6
  .form_el.js-form_el.form_tx
    = f.text_field :content, class: 'form_el_tag form_tx_tag'
.grid_i.grid_i__grid-2-6
  %label.form_el.form_label Дипломная работа:
.grid_i.grid_i__grid-3-6
  .form_el.js-form_el.form_tx
    = f.text_field :typography, class: 'form_el_tag form_tx_tag'
.grid_i.grid_i__grid-2-6
  %label.form_el.form_label Защита:
.grid_i.grid_i__grid-3-6
  .form_el.js-form_el.form_tx
    = f.text_field :protection, class: 'form_el_tag form_tx_tag'
.grid_i.grid_i__grid-2-6
  %label.form_el.form_label Итого:
.grid_i.grid_i__grid-3-6
  .form_el.js-form_el.form_tx
    = f.text_field :total, class: 'form_el_tag form_tx_tag'