.grid_i.grid_i__grid-1-1
  %label.form_el.form_label.form_label__el
    .form_el.js-form_el.form_checkbox
      = f.check_box :passed, class: 'form_el_tag form_checkbox_tag'
    %p.form_el_inner.form_label_inner Зачёт