.grid
  .grid_i.grid_i__grid-4-6.grid_i__prefix-1-6>
    .exercise-results
      .results_inner
        .tx-xl Вы не сдали тест.
        .tx-xl У вас не осталось попыток.
        .tx-xl Вы можете читать уже пройденные лекции, но не можете изучать курс дальше, пока не сдадите этот тест.
        .tx-xl Чтобы пересдать его - свяжитесь с учебной частью
      = contacts_link