.mt-2
  .tx-l Поздравляем вас с&nbsp;завершением курса #{@course.name}.
  .tx-l Нам потребуется некоторое время чтобы проверить все задания и&nbsp;подготовить ваши документы.
  .tx-l Возможно, у&nbsp;преподавателей будут замечания к&nbsp;некоторым вашим заданиям и&nbsp;их&nbsp;придется пересдать.
  - subscription = current_user.group_subscription_for_course(@course)
  .tx-l В&nbsp;этом случае мы&nbsp;сами свяжемся с&nbsp;вами. Напоминаем, что доступ к&nbsp;курсу открыт вам до&nbsp;#{format_date(subscription.end_on)}.
  .tx-l Все это время вы&nbsp;можете свободно читать материалы курса. Спасибо за&nbsp;обучение в&nbsp;Доме Русской Косметики.