.grid_i.grid_i__grid-1-6.without_margin>
  .answers_prefix
    %p Вопрос:
.grid_i.grid_i__grid-4-6.grid_i.grid_i__suffix-1-6.without_margin>
  .tx-700= result_test_item.question_title
.grid_i.grid_i__grid-1-6>
  .answers_prefix
    %p Верный ответ:
    %p Ваш ответ:
.grid_i.grid_i__grid-4-6.grid_i.grid_i__suffix-1-6>
  %p= result_test_item.correct_answer_title
  %p= result_test_item.question_answer_title