%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'отпуска' => '#'}
      %h3.tx-center ОТПУСКА
      .form__admin
        .admin_header.tx-center
          .header_inner
            %a.a_under.modal{data: {url: new_admin_instructor_vacation_path}}>
              %span.icon-add> +
              Добавить отпуск
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @instructor_vacations, partial: 'admin/instructor_vacations/instructor_vacation'
      = will_paginate @instructor_vacations, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
