%main#main.main{role: 'main'}
  %section.index_page.info_page{role: 'region', aria: {label: 'Index'}}
    .ctn
      %header.flowers.flowers_6
        .flowers_inner
          %h1 СООБЩЕНИЕ ОТПРАВЛЕНО
      .tx-center
        %p Спасибо. Ваше сообщение отправлено.
        %p Мы&nbsp;обязательно с&nbsp;вами свяжемся.