- course = group_subscription.group.course
%li.personal-cabinet-schedule__item
  %article.personal-cabinet-schedule__content
    .h4.personal-cabinet-schedule__title= group_subscription.group_title
    %p.personal-cabinet-schedule__caption= course.name
  - if course.timetable.present?
    .personal-cabinet-schedule__actions
      = link_to 'Посмотреть', course.timetable, class: 'button button--base-outline', 'data-size' => 'sm', target: '_blank'