.grid_i.grid_i__grid-8-9>
  = link_to history_event.title, edit_admin_history_event_path(history_event)
.grid_i.grid_i__grid-1-9>
  .tx-center
    = link_to edit_admin_history_event_path(history_event), title: 'Редактировать' do
      .icon_edit &#9998;
    = link_to admin_history_event_path(history_event), title: 'Удалить', method: :delete, data: {confirm: 'Вы уверены?'} do
      .icon_del X