.grid_i.grid_i__middle.grid_i__grid-1-2>
  = link_to download.file_url, class: 'material-a', target: '_blank' do
    .grid
      .grid_i.grid_i__middle.grid_i__grid-1-8>
        %span.square_icon>= download.extension
      .grid_i.grid_i__middle.grid_i__grid-7-8>
        #{download.filename}
