.mt-1.js-group
  .grid
    .grid_i.grid_i__grid-3-6>
      = group_select(@groups, group)
    .grid_i.grid_i__grid-2-6>
      %span= students_count(group) if group.present?
    .grid_i.grid_i__grid-1-6.tx-center>
      = link_to 'Удалить', '#', class: 'a_under js-remove-group'