%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      1) Диплом об образовании; Если у вас есть и среднее, и высшее медицинское образование - предоставьте оба диплома;
    %p{style: 'margin: 0;text-align: left;'}
      2) Паспорт (первая страница + прописка);
    %p{style: 'margin: 0;text-align: left;'}
      3) Свидетельство о заключении брака/смене фамилии (если в дипломах и паспорте разные фамилии);
    %p{style: 'margin: 0;text-align: left;'}
      4) Медицинская книжка (терапевт и дерматовенеролог) или справка учащегося формы 086у с записью от дерматолога;
    %p{style: 'margin: 0;text-align: left;'}
      5) Две фотографии 3х4;
    %p{style: 'margin: 0;text-align: left;'}
      6) Если вы врач и хотите получить дополнительные документы по сестринскому делу в косметологии - предоставьте протокол экзамена на допуск к работе на должностях среднего медицинского персонала.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Без полного пакета документов Институт не вправе выдать вам выпускные документы.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Выпускные документы готовятся в течении двух недель с даты окончания обучения по договору.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Если у вас нет академических и финансовых задолженностей, а также предоставлен весь пакет документов, то вам придет СМС уведомление о готовности ваших выпускных документов.