%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      1) Диплом о высшем медицинском образовании;
    %p{style: 'margin: 0;text-align: left;'}
      2) Удостоверение/диплом об окончании интернатуры/ординатуры по дерматовенерологии;
    %p{style: 'margin: 0;text-align: left;'}
      3) Диплом о профессиональной переподготовке по косметологии (не менее 144 часов);
    %p{style: 'margin: 0;text-align: left;'}
      4) Сертификат специалиста "Косметология" (если он еще действует);
    %p{style: 'margin: 0;text-align: left;'}
      5) Сертификат специалиста "Дерматовенерология" (если он еще действует);
    %p{style: 'margin: 0;text-align: left;'}
      6) Паспорт (первая страница + прописка);
    %p{style: 'margin: 0;text-align: left;'}
      7) Свидетельство о заключении брака/смене фамилии (если в дипломах и паспорте разные фамилии).
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      До окончания вашего обучения подпишите доп. соглашение о практике на рабочем месте с работодателем, верните нам наш экземпляр доп. соглашения.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Без полного пакета документов Институт не вправе выдать вам выпускные документы.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Выпускные документы готовятся в течении двух недель с даты окончания обучения по договору.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Если у вас нет академических и финансовых задолженностей, а также предоставлен весь пакет документов, то вам придет СМС уведомление о готовности ваших выпускных документов.