%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      1) Диплом о среднем/высшем медицинском образовании;
    %p{style: 'margin: 0;text-align: left;'}
      2) Паспорт (первая страница + прописка);
    %p{style: 'margin: 0;text-align: left;'}
      3) Свидетельство о заключении брака/смене фамилии (если в дипломах и паспорте разные фамилии);
    %p{style: 'margin: 0;text-align: left;'}
      4) Медицинская книжка (терапевт и дерматовенеролог) или справка учащегося формы 086у с записью от дерматолога;
    %p{style: 'margin: 0;text-align: left;'}
      5) Документ, подтверждающий подготовку по Мезотерапии. Если вы проходили Мезотерапию в ДРК, предоставлять документ не нужно.