%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      1) Диплом о среднем медицинском образовании (сестринское дело, фельдшер, акушер);
    %p{style: 'margin: 0;text-align: left;'}
      2) Диплом/Удостоверение об обучении по мед. массажу (не менее 144 часов);
    %p{style: 'margin: 0;text-align: left;'}
      3) Паспорт (первая страница + прописка);
    %p{style: 'margin: 0;text-align: left;'}
      4) Свидетельство о заключении брака/смене фамилии (если в дипломах и паспорте разные фамилии).
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      До окончания вашего обучения подпишите, пожалуйста, доп. соглашение о практике на рабочем месте с работодателем и верните нам наш экземпляр доп. соглашения.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Без полного пакета документов Институт не вправе выдать вам выпускные документы.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Выпускные документы готовятся в течении двух недель с даты окончания обучения по договору.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Если у вас нет академических и финансовых задолженностей, а также предоставлен весь пакет документов, то вам придет СМС уведомление о готовности ваших выпускных документов.