%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      1) Диплом о среднем медицинском образовании (сестринское дело, фельдшер, акушер) и сертификат специалиста (если он еще действует);
    %p{style: 'margin: 0;text-align: left;'}
      2) Диплом об обучении по косметологии (не менее 72 часов);
    %p{style: 'margin: 0;text-align: left;'}
      3) Подтверждение опыта работы в косметологии (справку с места работы, либо копию трудовой книжки, либо трудовой договор);
    %p{style: 'margin: 0;text-align: left;'}
      4) Паспорт (первая страница + прописка);
    %p{style: 'margin: 0;text-align: left;'}
      5) Свидетельство о заключении брака/смене фамилии (если в дипломах и паспорте разные фамилии).
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      До окончания вашего обучения подпишите доп. соглашение о практике на рабочем месте с работодателем, верните нам наш экземпляр доп. соглашения.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Без полного пакета документов Институт не вправе выдать Вам выпускные документы.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Выпускные документы готовятся в течении 2х недель с даты окончания обучения по договору.
%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'}
      Если у вас нет академических и финансовых задолженностей, а также предоставлен весь пакет документов -  вам придет СМС уведомление о готовности ваших выпускных документов.