%header#header.header-top{role: 'banner'}
  .ctn.header_inner
    %a.header_logo{:href => '/'}
    %nav.header_nav
      = link_to 'IN RUSSIAN', root_path, class: 'nav-a'
      = link_to 'ABOUT THE COLLEGE', 'http://www.cosmeticru.com', class: 'nav-a', target: '_blank'