.grid_i.grid_i__grid-1-3>
  .blog_post
    = link_to blog_post_path(post), class: 'double-hover' do
      = post_image_tag(post)
    = link_to post.category_title, blog_category_path(post.category), class: 'post_tag'
    %p
      = link_to post.title, blog_post_path(post), class: 'double-hover'