@charset "UTF-8";

// Radio input
.radio-input {
  position: relative;
  display: inline-block;
  vertical-align: top;

  // Sizes
  &:not([data-size]) {
    @include size(4rem);

    @include media($breakpoint-lg) {
      @include size(2rem);
    }

    > input:checked + span::before {
      @include size(1.6rem);

      @include media($breakpoint-lg) {
        @include size(.8rem);
      }
    }
  }

  &[data-size="sm"] {
    @include size(2rem);

    > input:checked + span::before {
      @include size(.8rem);
    }
  }

  &[data-size="lg"] {
    @include size(4rem);

    > input:checked + span::before {
      @include size(1.6rem);
    }
  }

  // Validation
  &[data-validation="invalid"] {
    > span {
      border-color: $color-error;
    }
  }

  // Input
  > input {
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;

    &:checked {
      + span {
        background: $color-ui;
      }
    }

    &:disabled {
      cursor: no-drop;

      + span {
        opacity: .4;
      }
    }
  }

  // Span
  > span {
    @include transition(background $transition-duration-base);
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #fff;
    border: .2rem solid $color-ui;
    border-radius: 50%;

    &::before {
      @include user-select(none);
      @include size(0);
      @include transform(translate(-50%, -50%));
      position: absolute;
      top: 50%;
      left: 50%;
      background: $color-base;
      border-radius: 50%;
      content: "";
    }
  }
}