%li.advantages__item
  %div.dl.advantage
    %div.dt.advantage__title
      %svg.icon.advantage__icon(role='img' data-size='100')
        %use(xlink:href="/assets/courses_shop/icons.svg##{advantage.icon}")
    %div.dd.advantage__description= advantage.title