= link_to picture.image_url(:slider_item), target: '_blank', class: 'career-after-courses__documents-item js-career-after-courses-documents-item zoom-in', 'data-mfp-type' => 'image' do
  = image_tag picture.image_url(:main), width: '109', height: '80', alt: ''
  = render 'layouts/courses_shop/image_zoom_in_icon'