@charset "UTF-8";

.images-gallery {
  @include media($breakpoint-lg) {
    @include grid;
    margin-top: -#{$content-indent-lg};
  }

  @include media($breakpoint-xxl) {
    margin-top: -#{$content-indent-xl};
  }

  // Image
  &__image {
    @include media($breakpoint-sm) {
      &:not(:last-child) {
        margin-bottom: $content-indent-sm;
      }
    }

    @include media($breakpoint-lg) {
      @include grid-columns(1, 3);
      margin-top: $content-indent-lg;
    }

    @include media($breakpoint-xxl) {
      margin-top: $content-indent-xl;
    }

    a {
      display: block;
    }

    img {
      @include fill-parent;
      max-width: none;
      vertical-align: top;
    }
  }
}