@charset "UTF-8";

// Page
.page {
  padding: {
    top: 3.75rem + $site-header-sm-height;
    bottom: 4rem;
  }

  @include media($breakpoint-lg) {
    padding: {
      top: 7.5rem + $site-header-sm-height;
      bottom: 8rem;
    }
  }

  &:not(.page--promo) {
    @include background-gradient;
  }

  &--promo,
  &--sections {
    padding-bottom: 0;
  }

  &--promo {
    padding-top: 0;
  }

  &--sections {
    padding-top: $site-header-sm-height;
  }

  &--courses {
    .page-section+.page-section:not(.page-section--gradient) {
      margin-top: -8rem;
    }
  }

  &--content {
    .page__header {
      @include media($breakpoint-lg) {
        margin-bottom: 3.75rem;
      }
    }

    .page__title {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &--course-added,
  &--models {
    .page-section+.page-section {
      margin-top: -8rem;
    }
  }

  // Header
  &__header {
    margin-bottom: 7.5rem;
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    +.filter,
    // For filter coming straight after
    +.course-select {
      // For configurator results
      margin-top: -4rem;
    }
  }

  // Title
  &__title {
    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }

    &:not(:first-child) {
      margin-top: 2rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }
}

// Page promo
.page-promo {
  padding-top: 3rem + $site-header-lg-height;
  background: $color-brand;

  @include media($breakpoint-sm) {
    padding-bottom: 8rem;
  }

  // Breadcrumbs
  &__breadcrumbs {
    pointer-events: none;

    @include media($breakpoint-sm) {
      position: relative;
      z-index: 3;
      margin-bottom: 2.5rem;
    }

    @include media($breakpoint-lg) {
      position: absolute;
      top: $site-header-lg-height;
      left: 0;
      z-index: 102; // .site-header {z-index: 101;}
      transform: translateY(-2rem);
      width: 100%;
    }

    nav {
      text-align: center;

      @include media($breakpoint-lg) {
        max-width: 100% * 2 / 3;
        margin: 0 auto;
      }
    }

    ul {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(baseline);
      @include text-sm;
    }

    li {
      position: relative;
      color: rgba(#fff, .4);

      &:not(:last-child) {
        margin-right: 2rem;

        &::after {
          width: 2rem;
          position: absolute;
          top: 0;
          left: 100%;
          content: "/";
          text-align: center;
        }
      }
    }

    a {
      @include hover(color, #fff);
      color: rgba(#fff, .4);
      pointer-events: auto;
    }
  }

  // Header
  &__header {
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    >.hr {
      display: block;
      margin: 2rem auto 0;
      fill: #fff;
    }
  }

  // Title
  &__title {
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Tabs
  &__tabs {
    margin: 3rem $content-indent-sm * 2 0; // + x2 to compensate lack of .container

    @include media($breakpoint-lg) {
      margin: {
        right: $content-indent-lg;
        left: $content-indent-lg;
      }
    }

    >select,
    .select2 {
      @include media($breakpoint-lg) {
        display: none !important;
      }
    }

    >ul {
      @include display(flex);
      @include justify-content(space-between);
      @include align-items(stretch);
      @include text-sm;
      text-align: center;

      @include media($breakpoint-sm) {
        display: none !important;
      }

      // 1. Extra styles for Safari, http://caniuse.com/#search=flexbox (see Known issues)
      >li {
        @include flex(1);
        @include display(flex); // 1
        @include align-items(stretch); // 1

        >a {
          @include display(flex);
          @include justify-content(center);
          @include align-items(center);
          @include flex(1); // 1
          @include hover(color, #fff);
          position: relative;
          padding: 3rem 1.5rem;
          color: rgba(#fff, .8);

          &::after {
            @include size(0 .4rem);
            @include transition(width $transition-duration-base);
            @include transform(translateX(-50%));
            position: absolute;
            left: 50%;
            bottom: 0;
            background: #fff;
            content: "";
          }

          &:hover,
          &.is-active {
            color: #fff;

            &::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// Page promo index
.page-promo-index {
  position: relative;

  padding: {
    top: 3rem + $site-header-lg-height;
    bottom: 12rem;
  }

  background: asset_url('courses_shop/page_promo/page_promo_index.jpg') $color-brand-lighter 75% 0 no-repeat;
  background-size: cover;

  @include media($breakpoint-lg) {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    height: 100vh;
    min-height: 70rem;

    padding: {
      top: 12rem;
      bottom: 6rem;
    }

    background-position: 50% 50%;
  }

  // Overlay
  &::before {
    @include user-select(none);
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: $color-brand-lighter;
    content: "";
  }

  // Inner
  &__inner {
    position: relative;
    z-index: 2;

    @include media($breakpoint-lg) {
      @include flex(1);
    }
  }

  // Header
  &__header {
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }
  }

  // Title
  &__title {
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Education groups
  &__education-groups {
    margin-top: 3rem;

    @include media($breakpoint-lg) {
      margin-top: 2rem;
    }

    .education-group-select {
      .hr {
        @include media($breakpoint-sm) {
          display: none !important;
        }
      }

      div.dt {
        color: rgba(#fff, .6);
      }
    }
  }

  // Course select
  .course-select {
    margin-top: 3rem;

    @include media($breakpoint-lg) {
      margin-top: 2rem;
    }

    // Styles overrides
    .course-select__title {
      color: rgba(#fff, .6);
    }

    .course-select__checkboxes {
      label {
        color: rgba(#fff, .6);
      }

      .checkbox-input {
        >input:not(:checked)+span {
          background-color: transparent;
        }
      }
    }

    .course-period-selector {
      .ui-slider {
        &::after {
          background: rgba($color-bg, .6);
        }
      }

      .ui-slider-progress {
        background: rgba($color-bg, .6);
      }
    }

    .course-type-selector ul {
      background: rgba($color-bg, .6);
    }
  }
}

// Page promo error
.page-promo-error {
  @include display(flex);
  @include justify-content(center);
  @include align-items(center);
  min-height: 100vh;

  padding: {
    top: 3rem + $site-header-lg-height;
    bottom: 23.4rem; // Approximate .site-footer height on mobile;
  }

  background: asset_url('courses_shop/page_promo/page_promo_error.jpg') $color-brand 50% 50% no-repeat;
  background-size: cover;

  @include media($breakpoint-lg) {
    padding-bottom: 3rem + $site-header-lg-height;
  }

  // Inner
  &__inner {
    @include media($breakpoint-lg) {
      @include flex(1);
    }
  }

  // Header
  &__header {
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }
  }

  // Title
  &__title {
    margin-bottom: 6rem;
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Caption
  &__caption {
    @include text-lg;
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Education groups
  &__education-groups {
    margin-top: 3rem;

    .education-group-select {
      .hr {
        @include media($breakpoint-sm) {
          display: none !important;
        }
      }

      div.dt {
        color: rgba(#fff, .6);
      }
    }
  }
}

// Page promo models
.page-promo-models {
  position: relative;

  padding: {
    top: 3rem + $site-header-lg-height;
    bottom: 12rem;
  }

  background: $color-brand-lighter;
  overflow: hidden; // To crop blurred background
  text-align: center;

  @include media($breakpoint-lg) {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    min-height: 80rem;
    height: 100vh;

    padding: {
      top: 8rem;
      bottom: 8rem;
    }
  }

  // Overlay
  &::before {
    @include user-select(none);
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: $color-base-lighter;
    content: "";
  }

  // 1. To hide blur glow
  &__background {
    @include filter(blur(1rem));
    position: absolute;
    top: -1rem; // 1
    right: -1rem; // 1
    bottom: -1rem; // 1
    left: -1rem; // 1
    z-index: 1;

    background: {
      color: $color-brand-lighter;
      position: 75% 0;
      repeat: no-repeat;
      size: cover;
    }

    @include media($breakpoint-lg) {
      background-position: 50% 50%;
    }
  }

  // Inner
  &__inner {
    position: relative;
    z-index: 2;

    @include media($breakpoint-lg) {
      @include flex(1);
    }
  }

  // Header
  &__header {
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }
  }

  // Title
  &__title {
    margin-bottom: 2rem;
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Text
  &__text {
    margin-bottom: 2.5rem;

    @include media($breakpoint-lg) {
      @include grid;
      @include justify-content(center);
    }

    >p {
      @include text-lg;
      color: rgba(#fff, .6);

      @include media($breakpoint-lg) {
        @include grid-columns(2, 3);
      }
    }
  }

  // Schedule
  &__schedule {
    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    .hr {
      margin-bottom: 3rem;
      fill: $color-brand;
    }

    .button {
      @include media($breakpoint-sm) {
        @include fill-parent;
      }

      @include media($breakpoint-lg) {
        @include grid-columns(1, 3);
      }
    }
  }
}

// Page promo course
.page-promo-course {
  position: relative;

  padding: {
    top: 3rem + $site-header-lg-height;
    bottom: 12rem;
  }

  background: $color-brand-lighter;
  overflow: hidden; // To crop blurred background

  @include media($breakpoint-lg) {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    min-height: 90rem;
    height: 100vh;

    padding: {
      top: 8rem;
      bottom: 8rem;
    }
  }

  // Overlay
  &::before {
    @include user-select(none);
    @include size(100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: $color-base-lighter;
    content: "";
  }

  // 1. To hide blur glow
  &__background {
    @include filter(blur(1rem));
    position: absolute;
    top: -1rem; // 1
    right: -1rem; // 1
    bottom: -1rem; // 1
    left: -1rem; // 1
    z-index: 1;

    background: {
      color: $color-brand-lighter;
      position: 75% 0;
      repeat: no-repeat;
      size: cover;
    }

    @include media($breakpoint-lg) {
      background-position: 50% 50%;
    }
  }

  // Breadcrumbs
  &__breadcrumbs {
    pointer-events: none;

    @include media($breakpoint-sm) {
      position: relative;
      z-index: 3;
      margin-bottom: 2.5rem;
    }

    @include media($breakpoint-lg) {
      position: absolute;
      top: $site-header-lg-height;
      left: 0;
      z-index: 102; // .site-header {z-index: 101;}
      transform: translateY(-2rem);
      width: 100%;
    }

    nav {
      text-align: center;

      @include media($breakpoint-lg) {
        max-width: 100% * 2 / 3;
        margin: 0 auto;
      }
    }

    ul {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
      @include align-items(baseline);
      @include text-sm;
    }

    li {
      position: relative;
      color: rgba(#fff, .4);

      &:not(:last-child) {
        margin-right: 2rem;

        &::after {
          width: 2rem;
          position: absolute;
          top: 0;
          left: 100%;
          content: "/";
          text-align: center;
        }
      }
    }

    a {
      @include hover(color, #fff);
      color: rgba(#fff, .4);
      pointer-events: auto;
    }
  }

  // Inner
  &__inner {
    position: relative;
    z-index: 3;

    @include media($breakpoint-lg) {
      @include flex(1);
      margin-bottom: -10rem;
    }
  }

  // Header
  &__header {
    text-align: center;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    >.hr {
      display: block;
      margin: 3rem auto 0;
      fill: $color-brand;

      @include media($breakpoint-sm) {
        display: none !important;
      }
    }
  }

  // Title
  &__title {
    @include h2;
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(3, 4);
    }
  }

  // Caption
  &__caption {
    @include text-lg;
    margin-top: 2rem;
    color: #fff;

    @include media($breakpoint-lg) {
      @include grid-columns(3, 4);
    }
  }

  // Info
  &__info {
    margin-top: 2.5rem;

    @include media($breakpoint-lg) {
      @include grid;
      @include justify-content(center);
    }

    div.dl {
      text-align: center;

      @include media($breakpoint-lg) {
        @include grid-columns(1, 6);
      }

      &:not(:last-child) {
        @include media($breakpoint-sm) {
          margin-bottom: 1.5rem;
        }
      }
    }

    div.dt {
      @include h4;
      color: #fff;
      white-space: nowrap;

      >svg {
        fill: #fff;
      }
    }

    div.dd {
      @include text-sm;
      margin-top: 1.5rem;
      color: #fff;
    }
  }

  // Actions
  &__actions {
    margin-top: 4rem;

    @include media($breakpoint-sm) {
      margin: {
        right: $content-indent-sm;
        left: $content-indent-sm;
      }

      text-align: center;
    }

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    >.button {
      @include media($breakpoint-sm) {
        @include fill-parent;
      }

      @include media($breakpoint-lg) {
        @include grid-columns(1, 3);
      }
    }

    >a:not(.button) {
      @include display(inline-flex);
      @include align-items(center);
      @include h6;
      @include hover(color, $color-base);
      margin-top: 2rem;
      color: $color-brand;


      @include media($breakpoint-lg) {
        @include display(flex);
      }

      >.icon {
        margin-right: 1.9rem;
        fill: $color-brand;
      }
    }

    .icon {
      @include hover(fill, $color-base, 'a:hover');
    }
  }
}

// Page section
.page-section {
  position: relative;

  padding: {
    top: 8rem;
    bottom: 8rem;
  }

  &--background {
    background: $color-bg;
  }

  &--gradient {
    @include background-gradient;
    overflow-y: hidden; // For ::after gradient
    background: none;
  }

  &--arrow {
    position: relative;

    &::after {
      @include size(20rem 4rem);
      @include transform(translateX(-50%));
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 1;
      content: ""
    }

    &.page-section--background {
      &::after {
        background-image: asset_url("courses_shop/section_arrow_ui.svg");
      }
    }

    &:not(.page-section--background) {
      &::after {
        background-image: asset_url("courses_shop/section_arrow_white.svg");
      }
    }
  }

  // For offer page
  &--content {

    h4.page-section__title,
    .h4.page-section__title {
      margin-bottom: 3rem;
    }
  }

  // Title
  &__title {
    text-align: center;

    @at-root h3#{&} {
      margin-bottom: 6rem;

      @include media($breakpoint-lg) {
        margin-bottom: 8rem;
      }

      +p {
        margin-top: -5rem;

        @include media($breakpoint-lg) {
          margin-top: -7rem;
        }
      }
    }

    @at-root h4#{&} {
      margin-bottom: 3rem;

      @include media($breakpoint-lg) {
        margin-bottom: 4rem;
      }

      +p {
        margin-top: -2rem;

        @include media($breakpoint-lg) {
          margin-top: -3rem;
        }
      }
    }

    @at-root .h3#{&} {
      margin-bottom: 6rem;

      @include media($breakpoint-lg) {
        margin-bottom: 8rem;
      }

      +p {
        margin-top: -5rem;

        @include media($breakpoint-lg) {
          margin-top: -7rem;
        }
      }
    }

    @at-root .h4#{&} {
      margin-bottom: 3rem;

      @include media($breakpoint-lg) {
        margin-bottom: 4rem;
      }

      +p {
        margin-top: -2rem;

        @include media($breakpoint-lg) {
          margin-top: -3rem;
        }
      }
    }

    +p {
      margin-bottom: 4rem;
      text-align: center;
    }
  }

  &__button-block {
    margin-top: 3rem;
    text-align: center;

    @include media($breakpoint-lg) {
      margin-top: 6rem;
    }
  }

  &__note {
    @include text-sm;

    margin-top: 2rem;
    color: $color-base-lighter;
    text-align: center;

    @include media($breakpoint-lg) {
      margin-top: 4rem;
    }

    &:not(:last-child) {
      margin-bottom: 2rem;

      @include media($breakpoint-lg) {
        margin-bottom: 4rem;
      }
    }
  }

  .video {
    max-width: 900px;
    margin: 0 auto;

    .youtube {
      background-position: center;
      background-repeat: no-repeat;
      overflow: hidden;
      transition: all 200ms ease-out;
      cursor: pointer;
      width: 100%;
      margin: 0 auto;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background-size: cover;
    }

    .youtube .play {
      background: url("/youtube-play-btn.png") no-repeat;
      background-position: 0 -50px;
      -webkit-background-size: 100% auto;
      background-size: 100% auto;
      position: absolute;
      height: 50px;
      width: 69px;
      transition: none;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }

    .youtube:hover .play {
      background-position: 0 0;
    }

    &--container {
      position: relative;

      padding-right: 6vw;
      padding-left: 6vw;
      height: 0;
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      padding-bottom: 40%;

      @include media($breakpoint-mobile-lg) {
        padding-bottom: 55%;
      }

      @include media($breakpoint-mobile-msm) {
        padding-bottom: 58%;
      }

      @include media($breakpoint-mobile-xl) {
        padding-bottom: 40%;
      }

      iframe {
        border-radius: 1.6rem;
      }

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }

    .description {
      margin: 2.5rem 3rem;
      text-align: center;

      p {
        padding: 0.5rem 0;
      }
    }
  }
}

// Page next
.page-next {
  @include transition-property(opacity);
  @include transition-duration($transition-duration-base);
  @include transition-delay($transition-duration-base); // Wait for styles animation to complete
  @include transform(translateX(-50%));
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 100;
  opacity: 0;
  visibility: hidden;

  >a {
    @include transition(padding $transition-duration-base);
    display: inline-block;
    padding: 0 3rem 3rem;

    >.icon {
      @include transition-property(width height);
      @include transition-duration($transition-duration-base);
      fill: $color-brand;
    }
  }

  .icon {
    @include hover(fill, $color-base, 'a:hover');
  }

  &--primary {
    >a {
      padding: 0 2.5rem 2.5rem;

      @include media($breakpoint-lg) {
        padding: 0 5rem 5rem;
      }

      >.icon {
        fill: rgba($color-ui, .4);

        @include media($breakpoint-lg) {
          @include size(3.4rem);
        }
      }
    }

    .icon {
      @include hover(fill, $color-ui, 'a:hover');
    }
  }
}