@charset "UTF-8";

// Partners logos
.partners-logos {
  text-align: center;

  @include media($breakpoint-lg) {
    width: 50%;
    margin: {
      right: auto;
      left: auto;
    }
  }

  // Title
  &__title {
    margin-bottom: 3rem;

    @include media($breakpoint-lg) {
      margin-bottom: 4rem;
    }
  }

  // Wrap
  &__wrap {
    position: relative;
  }

  // List
  &__list {
    @include display(flex);
    @include align-items(center);

    @include media($breakpoint-sm) {
      padding: { // For navigation arrows
        right: 4rem;
        left: 4rem;
      }
    }

    &:not(.slick-initialized) {
      .partners-logos__logo {
        @include media($breakpoint-sm) {
          &:nth-child(n+2) {
            display: none !important;
          }
        }

        @include media($breakpoint-lg) {
          &:nth-child(n+4) {
            display: none !important;
          }
        }
      }

      // Hiding arrows nav until slider init
      ~ .partners-logos__nav {
        display: none;
      }
    }
  }

  // Logo
  &__logo {
    @include media($breakpoint-lg) {
      @include grid-columns(1, 3);
    }
  }

  // Nav
  &__nav {
    @include display(flex);
    @include justify-content(center);
    @include align-items(center);
    @include transform(translateY(-50%));
    position: absolute;
    top: 50%;

    &--prev {
      @include media($breakpoint-sm) {
        left: 0;
      }

      @include media($breakpoint-lg) {
        right: 100%;
        margin-right: 2rem;
      }
    }

    &--next {
      @include media($breakpoint-sm) {
        right: 0;
      }

      @include media($breakpoint-lg) {
        left: 100%;
        margin-left: 2rem;
      }
    }

    .icon {
      fill: $color-ui;
    }
  }

  .icon {
    @include hover(fill, $color-base, '.partners-logos__nav:hover');
  }

  // If slider init
  .slick-initialized {
    .slick-slide {
      height: auto;
    }
  }
}

// Partner logo
.partner-logo {
  @include display(flex);
  @include justify-content(center);

  // Logo
  &__logo {
    vertical-align: top;
  }
}