@charset "UTF-8";

.text {
  text-align: center;

  &::before,
  &::after {
    @include user-select(none);
    @include size(6.2rem 1.2rem);
    display: block;
    margin: {
      right: auto;
      left: auto;
    }
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='62' height='12' viewBox='0 0 62 12'><path fill='%23312228' d='M15,7.368a25.884,25.884,0,0,1-6.072,3.448c-2.389.825-5.193,0.863-7.156-.941C-0.115,8.139-.8,4.958,1.32,3.058a4.1,4.1,0,0,1,5.616.118C8.593,5,7.781,8.288,5.213,8.628A2.437,2.437,0,0,1,2.536,6.693,2.139,2.139,0,0,1,4.313,4.1c0.42-.063.477,0.612,0.06,0.675A1.435,1.435,0,0,0,3.151,6.4C3.379,8.17,5.5,8.37,6.551,7.205a2.728,2.728,0,0,0-.143-3.618A3.479,3.479,0,0,0,.754,5.148,4.31,4.31,0,0,0,1.969,9.133a5.254,5.254,0,0,0,3.593,1.561c3.121,0.135,5.9-1.774,8.413-3.466L15,6.537V7.368Zm13.68,3.574a4.1,4.1,0,0,1-5.616-.118C21.407,9,22.219,5.712,24.787,5.372a2.436,2.436,0,0,1,2.677,1.935A2.139,2.139,0,0,1,25.687,9.9c-0.419.063-.477-0.611-0.059-0.674A1.436,1.436,0,0,0,26.849,7.6c-0.228-1.773-2.354-1.973-3.4-.809a2.728,2.728,0,0,0,.143,3.618,3.479,3.479,0,0,0,5.654-1.561,4.309,4.309,0,0,0-1.215-3.984,5.254,5.254,0,0,0-3.593-1.562c-3.121-.135-5.9,1.774-8.413,3.466L15,7.463V6.632a25.862,25.862,0,0,1,6.072-3.448c2.389-.825,5.193-0.863,7.156.942C30.115,5.861,30.8,9.042,28.68,10.942ZM47,6.632a25.884,25.884,0,0,0-6.072-3.448c-2.389-.825-5.193-0.863-7.156.941-1.886,1.735-2.576,4.917-.452,6.817a4.1,4.1,0,0,0,5.616-.118c1.658-1.824.846-5.112-1.722-5.453a2.436,2.436,0,0,0-2.677,1.935A2.139,2.139,0,0,0,36.313,9.9c0.419,0.063.477-.612,0.06-0.674A1.436,1.436,0,0,1,35.151,7.6c0.228-1.774,2.354-1.973,3.4-.809a2.728,2.728,0,0,1-.143,3.618,3.479,3.479,0,0,1-5.654-1.561,4.309,4.309,0,0,1,1.215-3.984,5.252,5.252,0,0,1,3.593-1.561c3.121-.135,5.9,1.773,8.413,3.466L47,7.463V6.632ZM60.68,3.058a4.1,4.1,0,0,0-5.616.118C53.407,5,54.219,8.288,56.787,8.628a2.436,2.436,0,0,0,2.677-1.936A2.139,2.139,0,0,0,57.687,4.1c-0.419-.063-0.477.612-0.059,0.674A1.436,1.436,0,0,1,58.849,6.4c-0.228,1.774-2.354,1.974-3.4.809a2.728,2.728,0,0,1,.143-3.618,3.479,3.479,0,0,1,5.654,1.561,4.31,4.31,0,0,1-1.215,3.984,5.254,5.254,0,0,1-3.593,1.561c-3.121.135-5.9-1.774-8.413-3.466L47,6.537V7.368a25.871,25.871,0,0,0,6.072,3.448c2.389,0.825,5.193.863,7.156-.941C62.115,8.139,62.8,4.958,60.68,3.058ZM31,0a1,1,0,1,1-1,1A1,1,0,0,1,31,0Z'/></svg>") transparent 50% 50% no-repeat;
    content: "";
  }

  // Content
  &__content {
    margin: 3rem 0;

    @include media($breakpoint-lg) {
      @include grid;
      @include flex-direction(column);
      @include align-items(center);
    }

    > p {
      @include text-sm;

      @include media($breakpoint-lg) {
        @include grid-columns(2, 3);
      }

      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}