@charset "UTF-8";

// Subscription
.subscription {
  @include media($breakpoint-lg) {
    @include grid;
    @include justify-content(center);
  }

  // Inner
  &__inner {
    @include media($breakpoint-lg) {
      @include grid-columns(2, 3);
    }
  }

  // Form
  &__form {
    @include media($breakpoint-sm) {
      margin: {
        right: $content-indent-sm;
        left: $content-indent-sm;
      }
    }

    @include media($breakpoint-lg) {
      @include grid;
      @include align-items(center);
    }
  }

  // Label
  &__label {
    text-align: center;

    @include media($breakpoint-sm) {
      margin-bottom: 2rem;
    }

    @include media($breakpoint-lg) {
      @include grid-columns(1, 4);
      text-align: right;
    }
  }

  // Input
  &__input {
    @include media($breakpoint-sm) {
      margin-bottom: .7rem;
    }

    @include media($breakpoint-lg) {
      @include grid-columns(1, 2);
    }
  }

  // Submit
  &__submit {
    @include media($breakpoint-lg) {
      @include grid-columns(1, 4);
      padding-left: 0 !important;
    }

    // Button
    .button {
      @include fill-parent;
    }
  }
}