.grid_i.grid_i__grid-8-9>
  = link_to amo_module.title, edit_admin_amo_module_path(amo_module)
.grid_i.grid_i__grid-1-9>
  .tx-center
    = link_to edit_admin_amo_module_path(amo_module), title: 'Редактировать' do
      .icon_edit &#9998;
    = link_to admin_amo_module_path(amo_module), title: 'Удалить', method: :delete, data: {confirm: 'Вы уверены?'} do
      .icon_del X