%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'преимущества' => admin_advantages_path}
      %h3.tx-center Преимущества
      .form__admin
        .admin_header.tx-center
        .admin_body.table.table_base-color
          .table_head
            .grid
              .grid_i.grid_i__grid-7-9>
                %p название
              .grid_i.grid_i__grid-2-9.tx-center>
                %p действия
          .grid.grid__collapse
            = render @advantages
      = will_paginate @advantages, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0