.grid_i.grid_i__grid-8-9>
  = link_to tag_name(meta_tag), edit_admin_meta_tag_path(meta_tag)
.grid_i.grid_i__grid-1-9>
  .tx-center
    = link_to edit_admin_meta_tag_path(meta_tag), title: 'Редактировать' do
      .icon_edit &#9998;