.popup.bg-muted
  %header.tx-center.mb-4
    .h5.mb-2 СМЕНА ПАРОЛЯ
    %p Введите Вашу электронную почту и&nbsp;мы&nbsp;вышлем пароль.

  = form_for :user, url: user_password_path, html: {autocomplete: 'off', class: 'form js-form', remote: true, data: {password_form: true}} do |f|
    .grid
      .grid_i.grid_i__grid-5-6.grid_i__prefix-1-12.grid_i__suffix-1-12>
        .password-recovery.grid.grid__collapse
          .grid_i.grid_i__grid-2-3>
            .form_el.js-form_el.form_el__block.form_tx
              = f.email_field :email, placeholder: 'Электронная почта', class: 'form_el_tag form_tx_tag'
          .grid_i.grid_i__grid-1-3>
            .password-recovery_button.form_el.js-form_el.form_el__block.form_btn
              %p.form_el_inner.form_btn_inner Отправить
              = f.submit class: 'form_el_tag form_btn_tag'

  .icon_del.arcticmodal-close X
