%main#main.main{role: 'main'}
  %section.info_page{role: 'region', aria: {label: 'Index'}}
    .ctn
      %header.flowers.flowers_6
        .flowers_inner
          .h2 ВЫ УСПЕШНО ОТПИСАЛИСЬ ОТ РАССЫЛКИ ПО ОБНОВЛЕНИЮ ВАКАНСИЙ