<p><center>Ваш заказ был удалён.</center></p>
<center><a style="color: green;" href="/">Вернутся на главную страницу.</a></center>

<script>
  $(function() {
    window.localStorage.clear();
  });
</script> 