<center><p>Спасибо ваш заказ был принят.</p></center>
<center><a style="color: green;" href="/">Вернутся на главную страницу.</a></center>

 <script>
  $(function() {
    window.localStorage.clear();
  });
</script> 