%tr
  %td{border: '0', style: 'text-align:center;'}
    .h2{style: "margin: 0;font-size: 30px; line-height: 36px; font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif; font-weight: 400;"}= "#{['Добрый день', @user.short_name].reject(&:blank?).join(', ')}!"

%tr
  %td{border: '0',align: 'center', style: 'padding:20px 0 30px 0;'}
    %hr{width: '220', style: 'margin: 0;'}/

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Ваш промокод для получения скидки: #{@promo_code.code}

%tr
  %td{border: '0', style: 'text-align:center;'}
    %p{style: 'margin: 0;text-align: left;'} Введите этот промокод при оплате на сайте.