.grid_i.grid_i__grid-5-6
  %a.modal{data: {url: edit_admin_our_advantage_path(advantage)}}= advantage.display_value
.grid_i.grid_i__grid-1-6.tx-center>
  = link_to '#', data: {url: edit_admin_our_advantage_path(advantage)}, class: 'modal' do
    .icon_edit &#9998;

