%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'наши преимущества' => '#'}
      %h3.tx-center НАШИ ПРЕИМУЩЕСТВА
      .form__admin
        .admin_header.tx-center
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @our_advantages, partial: 'admin/our_advantages/advantage', as: :advantage