%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'факультеты' => '#'}
      %h3.tx-center ФАКУЛЬТЕТЫ
      .form__admin
        .admin_header.tx-center
          .header_inner
            %a.a_under.modal{data: {url: new_admin_faculty_path}}>
              %span.icon-add> +
              Добавить факультет
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @faculties, partial: 'admin/faculties/faculty'
      = will_paginate @faculties, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
