%main#main.main.ctn
  .grid.grid__collapse
    .grid_i.grid_i__grid-2-9.sidebar>
      = render 'common/admin_sidebar'
    .grid_i.grid_i__grid-7-9>
      = render 'admin/breadcrumbs', crumbs: {'выпускные документы' => '#'}
      %h3.tx-center ВЫПУСКНЫЕ ДОКУМЕНТЫ
      .form__admin
        .admin_header.tx-center
          .header_inner
        .admin_body.table.table_base-color
          .grid.grid__collapse
            = render collection: @education_documents, partial: 'admin/education_documents/education_document'
      = will_paginate @education_documents, renderer: PageLinkRenderer, inner_window: 1, outer_window: 0
